{% set version = "4.8.0" %}

<h4>Get it!</h4>
<p>
  <a class="btn btn-success btn-sm" href="https://github.com/Schlaefer/Saito/releases/download/{{ version }}/saito-release-master-{{ version }}.zip">
    <i class="icon-download-alt"></i>&nbsp;<strong>v{{ version }}</strong>
  </a>
</p>
<ul>
  <li>
    <!-- a href='#/releases'>Release Notes</a -->
    <a href='https://github.com/Schlaefer/Saito/releases'>Release Notes</a>
    (<a href='releases'>Old</a>)
  </li>
</ul>
