### OS and editor ###
.DS_Store

### Package Manager & Build System###
.sass-cache
/node_modules

### CakePHP 3 ###
schema-dump-default.lock
/logs
/tmp
/vendor

### Saito ###
/_attic
/build/
/config/.env
/docs/local
/dist/
/webroot/useruploads/*

### Assets ###
plugins/Bota/webroot/css/*
!plugins/Bota/webroot/css/src/

plugins/Bota/webroot/fonts/*.woff*

plugins/SpectrumColorpicker/webroot/*

webroot/css/stylesheets/*
!webroot/css/stylesheets/src/
webroot/js/*
