.DS_Store

### CakePHP 3 ###
/bin
/logs
/tmp
/vendor

# Saito
/app/Config/email.php
/app/Config/database.php
/app/Config/database.php.dev
/app/Config/installed.txt
/webroot/useruploads/**/*.*
build/
/dist/

# plugins via composer
/plugins/Geshi

# vendor folder
/vendor
/vendor/*
