/app/config/database.php
/app/config/database.php.dev
/app/config/bootstrap.php
/app/config/core.php
/app/config/installed.txt
/app/webroot/theme/test
/app/webroot/useruploads/*.*

# Temp Directory #
# ============== #
/app/tmp/*
!/app/tmp/cache
!/app/tmp/logs
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/logs/*

/plugins
/vendors
