[submodule "app/plugins/simple_captcha"]
	path = app/plugins/simple_captcha
	url = git@github.com:Schlaefer/cakephp-simple-captcha.git
[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = https://github.com/cakephp/debug_kit.git
