sudo: false

notifications:
  email: false

language: php

cache:
  directories:
   - $HOME/.composer/cache

php:
  - 5.6 

env:
  matrix:
    - DB=mysql
    - DB=pgsql
  global:
    - PHPCS=0

matrix:
  fast_finish: true

  include:
    - php: 7.1
      env: PHPCS=1 DB=mysql
    - php: 7.1
      env: DB=pgsql

before_script:
  - composer self-update
  - composer install -d app --prefer-dist -o
  - sh -c "if [ '$PHPCS' = '1' ]; then app/Vendor/bin/phpcs --config-set installed_paths app/Vendor/cakephp/cakephp-codesniffer; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'CREATE DATABASE cakephp_test;'; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'CREATE DATABASE cakephp_test;' -U postgres; fi"
  - chmod -R 777 ./app/tmp
  - echo "var net = require('net');
    var server = net.createServer();
    server.listen(80, 'localhost');
    console.log('TCP server listening on port 80 at localhost.');" > app/tmp/socket.js
  - sudo node ./app/tmp/socket.js &
  - set +H
  - echo "<?php
    class DATABASE_CONFIG {
    private \$identities = array(
      'mysql' => array(
        'datasource' => 'Database/Mysql',
        'host' => '0.0.0.0',
        'login' => 'travis'
      ),
      'pgsql' => array(
        'datasource' => 'Database/Postgres',
        'host' => '127.0.0.1',
        'login' => 'postgres',
        'database' => 'cakephp_test',
      ),
    );
    public \$default = array(
      'persistent' => false,
      'host' => '',
      'login' => '',
      'password' => '',
      'database' => 'cakephp_test',
      'prefix' => ''
    );
    public \$test = array(
      'persistent' => false,
      'host' => '',
      'login' => '',
      'password' => '',
      'database' => 'cakephp_test',
      'prefix' => ''
    );
    public function __construct() {
      \$db = 'mysql';
      if (!empty(\$_SERVER['DB'])) {
        \$db = \$_SERVER['DB'];
      }
      foreach (array('default', 'test') as \$source) {
        \$config = array_merge(\$this->{\$source}, \$this->identities[\$db]);
        if (is_array(\$config['database'])) {
          \$config['database'] = \$config['database'][\$source];
        }
        if (!empty(\$config['schema']) && is_array(\$config['schema'])) {
          \$config['schema'] = \$config['schema'][\$source];
        }
        \$this->{\$source} = \$config;
      }
    }
      }" > app/Config/database.php

script:
  - ./app/Console/cake testsuite app All --stderr
  - sh -c "if [ '$PHPCS' = '1' ]; then app/Vendor/bin/phpcs --standard=app/Test/ruleset.xml --warning-severity=8 -p app/Controller app/Model app/Lib app/Test app/View app/Plugin; fi"
