parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - plugins/
        - src/
        - templates/
    excludes_analyse:
        - **/*.ctp
        - **/TestCase/*
        # Inline classes are not picked up by phpstan
        - */BbcodeParser/src/Lib/jBBCode/Definitions/*
    autoload_files:
        - tests/bootstrap.php
    ignoreErrors:
        # CakePHP magic find functions
        - '#Call to an undefined method.*Table::findBy.*\(\)#'
        # 3rd party search plugin
        -
            message: '#.*searchManager.*#'
            path: %currentWorkingDirectory%/src/Model/Table/EntriesTable.php
        # See https://github.com/cakephp/app/blob/master/phpstan.neon
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            count: 1
            path: src/Controller/PagesController.php
        # See https://github.com/phpstan/phpstan/issues/351
        -
            message: '#Using \$this outside a class\.#'
            paths:
                - %currentWorkingDirectory%/templates/*
                - %currentWorkingDirectory%/plugins/**/templates/*
        -
            message: '#Undefined variable: \$[\d\w]*#'
            paths:
                - %currentWorkingDirectory%/templates/*
                - %currentWorkingDirectory%/plugins/**/templates/*
        -
            message: '#Variable \$[\w\d]* in PHPDoc tag @var does not match assigned variable \$[\w\d]*#'
            paths:
                - %currentWorkingDirectory%/templates/*
        -
            message: '#Multiple PHPDoc @var tags above single variable assignment are not supported.#'
            paths:
                - %currentWorkingDirectory%/templates/*
        -
            message: '#Variable \$[\w\d]* might not be defined.#'
            paths:
                - %currentWorkingDirectory%/templates/element/flash/*
                - %currentWorkingDirectory%/templates/Error/error*