parameters:
    level: 3
    paths:
        - plugins/
        - src/
    excludes_analyse:
        - **/*.ctp
        - **/TestCase/*
        # Inline classes are not picked up by phpstan
        - */BbcodeParser/src/Lib/jBBCode/Definitions/*
    autoload_files:
        - tests/bootstrap.php
    ignoreErrors:
        # CakePHP magic find functions
        - '#Call to an undefined method.*Table::findBy.*\(\)#'
        # 3rd party search plugin
        -
            message: '#.*searchManager.*#'
            path: %currentWorkingDirectory%/src/Model/Table/EntriesTable.php

