<div id='markitup_media' style="overflow: hidden;">
    <div class="panel panel-form">
        <form action="#" style="width: 100%;">
            <label for="markitup_media_txta">
                <%- $.i18n.__('medins.exp') %>
            </label>
            <div class="form-group">
                <textarea name="data[media]" id="markitup_media_txta" rows="6"
                        columns="20" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary form-control" id="markitup_media_btn" type="submit"
                    value="<%- $.i18n.__('medins.insert.btn') %>">
            </div>

            <div id="markitup_media_message" class="flash error"
                style="display: none;">
                <%- $.i18n.__('medins.notRecognized') %>
            </div>
        </form>
    </div>
</div>
