
@mixin c_t_h_3_abs($height: 24px, $padding: 5px) {
	height: $height;

	h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

	& > div {
		position: relative;
	}
	& > div > div {
		line-height: $height - ( 2 * $padding);
		padding: $padding 0;
		text-align: center;
		white-space: nowrap;
    vertical-align: middle;
		}
	& > div > div:first-child {
		position: absolute;
		}
	// CSS2 :last_child for
	// & > div > div:last-child  {
	& > div > .c_last_child  {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		}
	}

.c_t_h_3_tbl {
	display: table;
	width: 100%;

	& > div {
		display: table-row;
		}
	& > div > div {
		display: table-cell;
		white-space: nowrap;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		}
	& .c_first_child {
		width: auto;
		text-align: left;
		}
	& .c_last_child {
		width: auto;
		text-align: right;
		}
	}