/*******************************************************************************
* Slidebars (aka Slidetabs) general layout
******************************************************************************/

#slidetabs {
  float: right;
  overflow: hidden;
  z-index: 5;
  position: relative;
}

.slidebar {
  clear: right;
  float: right;
  margin: 5px -1px 2px 10px;
  overflow: hidden;

  form {
    clear: none;
  }
}

.slidebar-tab {
  border-right: none !important;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.slidebar-tab {
  position:relative;
  float: left;
  margin-top: 5px;
  padding: 4px;
  width: 20px;
  height: 20px;
}

.slidebar-tab-button {
  position: absolute;
  width: 20px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
}

.slidebar-content {
  margin-left: 28px;
  min-height: 34px;
  width: 200px;
  padding: 10px;
}

.slidetab_tree {
  > li {
    margin-bottom: 1em;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.slidetab_subtree {
	padding-left: 2em;
	margin-top: -1em;

  list-style: square;
}

// Slidebar Recent Postings
// -------------------------------------

.slidebar-recentposts .slidetab_tree {
	> li {
		margin-bottom: 0.5em !important;
		}
	> li li {
    // gentle handling of overflow for long words in subject
    // -------------------------------------
		overflow: hidden;
		text-overflow: ellipsis;

		padding-left: 26px !important;
		text-indent:  -1.75em;
		font-weight: normal;
		}

  > li li [class^="icon-"], li [class*=" icon-"] {
    text-align: right;
    padding-right: 0.25em;
    }
  }

