html, body {
  height: 100%;
	}

body {
  min-width: $layout_min_width;
}

// container arround flash messages
#l-flash-container {
	/* make left/right same value as #content margin */
  margin: 10px 20px; }

/*******************************************************************************
 * Blueprint
 ******************************************************************************/

$blueprint-grid-columns:      24 !default;
$blueprint-container-size: 950px !default;
$blueprint-grid-margin:     10px !default;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@import "blueprint";

form.bp { @include blueprint-form; }

.bp_container {
	@include container;
	margin: inherit;
	// backport from original blueprint framework:
	// clears out all column floats from last container
	// for using more than one
	overflow: visible;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; }
	max-width: 100%;
	}

.bp-threeColumn {
	@extend .bp_container;
	// put it under bottomnav
/*	height: 0px;*/

  .left {
    @include column(8); }
  .center {
    @include column(8); }
  .right {
    @include column(8, true); }
	}
