/*******************************************************************************
 * Template Layout
 ******************************************************************************/

.l-top {
  position: relative; // for position ing subelements in header
  }

.l-top-right {
  position: absolute;
  right: 0px;
  text-align: right;
  }

.l-top-spnsr, .l-top-left, .l-top {
  height: 70px;
  }

.l-top-spnsr, .l-top-left {
  float: left;
  }

.l-top-spnsr {
  width: 80px;
  }

.l-top-left, .l-top-right {
  margin: 0;
  padding-right: $padding-content;
  }

.l-top-right {
  padding-top: 15px;
  }

.l-top-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 1px 0 0 1px;
}

.top-menu {
  padding: 2px 1em;
  font-size: 10px;
  line-height: 12px;
  }

.top-search > form {
  height: 26px;
  font-size: 12px;
}

.navbar {
	padding: 0 $padding-content;
  border-width: 1px 0 1px 0;
  }

#content {
  padding: $padding-content;
	}

#footer-pinned {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.l-disclaimer {
  margin: 0 auto;
  }

/*******************************************************************************
 * Threads
 ******************************************************************************/

// thread and reply links
// -------------------------------------
/* dont forget to change the userpref css in user_h.php if you do changes here */
li.thread .span_post_type, li.reply .span_post_type {
  @include link-colors($thread_color_normal);
  font-weight: bold; }

/* new threads and replies: */
li.threadnew .span_post_type, li.replynew .span_post_type {
  @include link-colors($thread_color_new);
  font-weight: bold; }

li.actthread .span_post_type, li.actreply .span_post_type {
  @include link-colors($thread_color_actual);
  font-weight: bold; }

// thread tree
// -------------------------------------
ul.thread, ul.threadnew {
  list-style-type: none;
  margin: 0px 0px 18px 0px;
  list-style-type: none; }

ul.reply, ul.replynew {
  list-style-type: none;
  margin: 0 0 0 30px;
  list-style-type: none; }

ul.deep-reply {
  margin: 0px;
  list-style-type: none; }

/*******************************************************************************
 * View Posting
 ******************************************************************************/

.postingheadline {
  margin-bottom: 2px;
  font-size: 1.25em;
  font-weight: bold;
  line-height: normal;
  }

.posting, .posting img, posting, object, posting embed, .signature {
  max-width: 80em;
  }

.author {
  @extend .info_text;
  margin: 1px 0 1em 0;
  line-height: 1.4;
  }

.signature {
  margin-top: 1em;
  }

/* BBCode
// ------------------------------------- */
.c_bbc_code-wrapper {
  background-color: #f9f9f9;
  padding: 4px; }

.code {
  @extend code;
  }

.c_bbc_underline {
  @extend u;
}

.c_bbc_link-dinfo, .c_bbc_imessage {
	@extend .info_text;

  font-weight: normal;
  font-style: normal;
  text-decoration: none;
	}

.c_bbc_imessage {
	font-style: italic;
}

.c_bbc_upload, .c_bbc_external-image {
	margin: 5px 0;
	}

.c_bbc_citation {
  color: $saito_info_text;
  font-style: italic; }

.c_bbc_ul {
  margin: 0em 2em;
  padding: 0;
  list-style-image: image-url("bbcode_list_image.png"); }

.c_bbc_li {
  margin: 0.5em 0;
  padding: 0; }

/** geshi */
.code {
  padding: 1em; }

.code ol {
  list-style: decimal;
  list-style-position: inside; }

.geshi-plain-text {
  font-size: smaller; }

/* see also app/config/geshi.php for zebra colors */

/*******************************************************************************
 * Forms
 ******************************************************************************/

input, textarea {
  padding: 0.2em 0.5em;
	@extend .c_all-radius;
  border: 1px solid $saito_gray_input_border;
  width: 98%;
  /* chrome in linux */
  outline-color: $saito_accent_dark; 
  max-width: 60em;
  }

input[type=checkbox] {
	width: auto;
	}

/* inset shadow for text fiedls */
input[type=text], input[type=password], textarea {
	@extend .box-shadow-inset;
  border-color: $saito_gray_input_border;
  display: block;
  }

form div.submit {
  display: inline;
  }

label, .label {
  display: block;
  margin-bottom: 3px; }

/* formating required fields
// ----------------------------------- */
form .required {
  font-weight: bold;
  }

form .required label:after {
  color: #ee3322;
  content: "*";
  display: inline;
  padding-right: 0.5em;
  }


/*******************************************************************************
 * Buttons
 *
 * See for bootstrap sass implementation: https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_buttons.scss
 ******************************************************************************/

.btn, .btn-group, .btn-group .btn:first-child, .btn-group.open .dropdown-menu {
  @extend .c_all-radius;
  }

.btn {
  // reset hat input elements ususally take the whole form width
  width: auto;
  padding: 0.2em 1em;
  }

.btn-submit {
  background-color: $btnSubmitBackground;
  @include buttonBackground($btnSubmitBackgroundHighlight, $btnSubmitBackground);
  border: 4px solid red;
}

.btn-preview {
  @extend .btn-small;
  background-color: $btnPreviewBackground;
  @include buttonBackground($btnPreviewBackgroundHighlight, $btnPreviewBackground);
}

.btn-edit {
  @extend .btn-small;
  }

//back and top wide button start
// -------------------------------------
.btn-strip {
  height: 100%;
  width: 15px;
  position: absolute;
  border: $border_width solid $saito_gray_dark;
  background-color: $saito_gray_light;
  background-repeat: repeat-y;
	@extend .c_all-radius;
  &:active {
    background-color: $saito_gray_dark; } }

.btn-strip-back {
  background-image: image-url("mix_back.png");
  }

.btn-strip-top {
  background-image: image-url("mix_top.png");
  }

/*******************************************************************************
 * Buttons Thread Tools
 ******************************************************************************/

.ico-threadTool {
	display: inline-block;
	margin-top: 1px;
	width: 13px;
	height: 13px;
}

.ico-threadCollapse     { @extend .sprite-thread-collapse; 	    }
.ico-threadOpen 		    { @extend .sprite-thread-open; 			    }
.ico-threadOpenInline   { @extend .sprite-thread-open-inline;   }
.ico-threadOpenNew      { @extend .sprite-thread-open-new;      }
.ico-threadOpenMix      { @extend .sprite-thread-open-mix;      }
.ico-threadCloseInline  { @extend .sprite-thread-close-inline;  }

/*******************************************************************************
 * Headers
 ******************************************************************************/

/** headers start ** */
.c_header_1 {
	@include c_t_h_3_abs(24px);
	padding: 0px 5px;

	@extend .header_style_2;
	border-width: 1px 0;

	}

.c_header_2 {
	@extend .header_style_2;
	@extend .c_t_h_3_tbl;
	@extend .c_top-radius;
	border-width: 0 0 $border_width 0;
	// explizit zero left right margin for FF and Opera
	padding: $padding/4 0;
	}

.c_header_1, .c_header_2 {
	border-bottom: 1px solid silver;

	@extend .box-shadow;

	// make shure box shadow is always above background; esp. Vorschau header
	position:relative;
	z-index: 10;

	h1, h2, h3 {
		font-size: 13px;
		font-weight: bold;
		margin: 0;
		}
	}

/** headers end ** */

/** entry/add ** */
.entry.add, .entry.edit {
  background-color: $saito_gray_light;
  border-style: solid;
  border-color: $saito_gray_dark;
  border-width: 0 $border_width $border_width $border_width;
	@extend .c_bottom-radius;
  .preview {
    display: none; }
  .preview .content {
    background-color: white;
    padding: 20px; }
  .content {
    overflow: hidden; }
  form {
    display: block;
    padding: $padding;
    label {
      display: inline; } }
  form > div {
    padding: 0em; }
  form > div > div {
    padding: 0.5em; }
  submit {
    margin: 0; } }

.entry.reply {
  @extend .entry.add;
/*  border-radius(0);*/
  border: none;
	@extend .c_bottom-radius;
	}

/*******************************************************************************
 * Entry thread_line
 ******************************************************************************/

.thread_line-pre {
	position: absolute;
	vertical-align: text-top;
	height: 19px;
	line-height: 19px;
	font-size: 13px;
	}

.thread_line-content {
	padding-left: 18px;
	display: block;
  word-break: break-word;
	&:hover{
		background: #F0F0F0;
		}
	}

.thread_line-username {
	font-weight: 600;
	}

.thread_line-post {
		@extend .c_info_text;
		font-weight: normal;
		margin-left: 0.5em;
}

/* thread_slider */
.t_s {
  /* 20 px left because of huge, vertical close button */
  margin: 5px 5px 5px 20px;
  border: $border_width $saito_gray_dark solid;
	@extend .c_all-radius;
  /* user_list und inline view sollen sauber getrennt bleiben */
  overflow: hidden; }

/*******************************************************************************
 * Tables
 ******************************************************************************/

.table {
  width: 100%;
  margin: 2em 0;
  }
.table tr {
  background-color: white;
}
.table td, .table th {
  padding: 0.8em;
	}
.table th {
  font-weight: bold;
  background-color: #eee;
  }

.table.th-left.elegant td:first-child {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  width: 38%;
	}

.table.zebra tr.b {
    background-color: #eee;
  }

.table.border {
  border: 2px solid silver;
  border-right-width: 1px;
  border-collapse: separate;
	}

.table.border td, .table.border th {
   border-style: solid;
   border-color:  silver;
   border-width: 0 1px 1px 0;
   }

.loading_indicator {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  display: none; }

.spinner {
  &:after {
    content: "";
    background: inline-image("loading_indicator.gif") top center no-repeat;
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px auto; } }


/* eye-catching links ( with red triangle) */
a.textlink {
  @include link-colors($link_color);
  text-decoration: none;
  font-weight: bold;
  }

a.no-color {
 	@include link-colors($saito-gray);
}



/** entry/thread_line end ** */

.entry.index {
  margin-top: -10px;
  }

/** entry/view ** */
#entry_view, #entry_mix {
  .a,.b {
    @extend .box_style_1; } }

/*#entry_view, #entry_mix, #entry_index {*/
  .a_a_a {
    padding: 10px 10px 15px 10px; }

	.c_a_a_b {
		@extend .c_t_h_3_tbl;
		height: 45px;

	& > div > div {
		border-style: solid;
		border-color: $saito_gray_dark;
		padding: 0 20px;
		}

	.c_a_a_b_a {
		border-width: $border_width $border_width 0 0;
		border-top-right-radius:$corner_radius;
		}

	.c_a_a_b_c {
		border-width: $border_width 0 0 $border_width;
		border-top-left-radius:$corner_radius; }
		}

	.a { margin-bottom: 10px;
	}

  .b {
    padding: 10px;
    .tree_thread {
			@include box-shadow(0 0 0);
      border: none;
      background: none;
      padding: 0;
      margin: 0; } }
/*	}*/

/*entry/view end */

/* */
.tree_thread {
  @extend .box_style_1;
  padding: 8px;
  margin-bottom: 4px;
  .img_pencil {
    visibility: hidden; }
  ul:first-child {
    margin-left: 30px; } }

ul.thread {
  margin: 0 !important; }

.thread_box {
  /* user_list und inline view sollen sauber getrennt bleiben */
  /*	overflow: hidden; */ }

.thread_tools {
  opacity: 0.2;
  border-style: solid;
  border-color: $saito_gray_dark;
  border-width: $border_width $border_width 0 $border_width;
  display: inline-block;
  margin-left: 35px;
  border-top-left-radius:$corner_radius;
  border-top-right-radius:$corner_radius;
  ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline; }
  li {
    // setting explizit height for Firefox only
    height: 15px;
    float: left; }
  a {
    padding: 1px 10px;
    display: inline-block;
    text-align: center;
    width: 13px;
    height: 13px;
    &:active {
      background-color: $saito_gray_dark; } }
  li {
    border-right: $border_width solid $saito_gray_dark; }
  li:first-child {
    /* we need this for the active state */
    border-top-left-radius:$corner_radius; }
  li:last-child {
    border: none;
    /* we need this for the active state */
    border-top-right-radius:$corner_radius; } }

.thread_inline {
  display: none;
  position: relative;
  margin: 4px 0;
  .btn_back_l, .btn_top_l {
    float: left; }
  /* otherwise link is slidetabs not clickable if inline with is open */
  /*	overflow: hidden; */ }

.button_mod_panel {
  float: right;
  button {
    margin: 0;
  }
  ul {
    /* !important: in inline_view on entries_index the tree ul stuff messes in */
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none; }
  }

/** end mod panel ** */

/** search start ** */
.search_form {
  position: relative; }

.search_form input {
  margin: 0;
  padding: 0 0.5em;
  }

.search_form > div {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 0; }

.search_textfield {
  height: 22px;
  margin: 0;
  width: 100%;
  border-radius:0;
  border-top-left-radius:$corner_radius;
  border-bottom-left-radius:$corner_radius;
  border-right-width: 0;
  color: #222222;
  border-color: #a8a8a8;
  background-color: white;
  font-size: auto; }

.search_textfield:focus {
  outline-width: 0; }

.btn_search_submit {
  /* workaround for firefox font bug */
  /*		font-family: Helvetica, Arial, Sans-Serif; */
  float: right;
  margin: 0;
  height: 100%;
  font-size: 20px;
  border-radius:0;
  border-top-right-radius:$corner_radius;
  border-bottom-right-radius:$corner_radius;
  white-space: nowrap;
  cursor: pointer;
  }

.btn_search_header {
  width: 24px;
  height: 24px;
  border-left: none;
  background-color: white;
	@extend .box-shadow-inset;
  margin-left: -1px !important; }

.search_textfield_header {
  margin-right: -1px !important; }

/** search end ** */

/*** entry_search start ***/
#entry_search {
	.search_form_wrapper {
		display: table;
		width: 100%;
		margin-bottom: 20px;
	  vertical-align: middle;

		form {
			font-size: 20px;
		}
	}

	.search_form_wrapper_adv {
		@extend .box_style_2;
		@extend .box_layout_1;
		margin-bottom: 20px;
	}

	.search_form_wrapper > div {
		display: table-cell;
		padding: 0 5px;
	  vertical-align: middle;
	}

	form {
		width: 100%;
	}

	.search_results {
		@extend .box_style_1;

		.header {
			@extend .box_layout_1;
			@extend .header_style_1;
		}

		.content {
			@extend .box_layout_1;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0.2em 0;
				}
			}
		}
	}
}

/*******************************************************************************
 * Bootstrap Popovers Adjustments
 ******************************************************************************/

.popover {
  font-size: 0.95em
  }
.popover-title {
  padding: 5px 11px;
  }
.popover-content {
  padding: 5px 10px;
  }

.popover-inner {
  @extend .c_all-radius;
  // border illusion:
  background: $saito_border;
  padding: $border_width;
}

.popover.bottom {
  .arrow {
    border-bottom-color: $saito_border;
    }
  }

.popover.left {
  .arrow {
    border-left-color: $saito_border;
    }
  }

.popover.right {
  .arrow {
    border-right-color: $saito_border;
    }
  }

/*******************************************************************************
 * Slidebars (aka Slidetabs) general layout
 ******************************************************************************/

.slidetab_subtree {
	font-weight: normal;
}

.slidetab_tree {
  font-weight: bold;
}

.slidebar-tab, .slidebar-content {
  font-size: 0.95em;

  @extend .header_style_1;
  @extend .box-shadow;
  @extend .t_shadow;
  @extend .c_left-radius;

  margin-bottom: 2px;
  line-height: 1.5;
}

.slidetab_subtree {
	font-weight: normal;

	> li {
		margin-bottom: 0;
		@extend .sprites;
		@include sprite-row(2);
		width: auto;
		// height of the bullet image
		height: auto;
		padding: 0 0 0 17px;
	}

	> li:last-child {
		// we can't use @extend .sprites; -> breaks IE8 because of last-child
		@include sprite-background($sprites_image);
		@include sprite-row(3);
		width: auto;
		// height of the bullet image
		height: 15px;
		// temporary fix for last line being to small if user line-height pref is > +1
		padding-bottom: 0.5em;
	}
}


// Slidebar Userlist
// -------------------------------------
.slidebar-actUser {
  font-weight: bold;
}
