@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

@import "compass/reset"; 
@import "compass/utilities/sprites";
@import "compass/utilities/links";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

/*$experimental-support-for-mozilla: false;*/
/*$experimental-support-for-webkit: true;*/
/*$experimental-support-for-opera: false;
/*$experimental-support-for-microsoft: false;*/
$experimental-support-for-khtml: false;

/*** setup blueprint ***/
// This import applies a global reset to any page that imports this stylesheet.
// schlaefer: deactivated, we already use compass/reset
// @import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

form.bp { @include blueprint-form; }

/*** set base parameters ***/

$corner_radius: 2px;
$border_width: 1px;
$background_image: 'bubbles_outer.png';
$padding: 10px;

/*** Standardset ***/
$saito_base: #607D86;
$saito_base_light: #E6EDF0;
$link_color: #E74A00; // #f17400;

$thread_color_normal: #333;
$thread_color_new:    $link_color;
$thread_color_actual: #FF5100;

$saito_base_very_light: #eee;
$saito_base_dark: #aaa;
$saito_accent_light: $saito_base ;
$saito_accent_dark: $saito_base_dark;
$saito_accent2_light: #666; /* light green */
$saito_accent2_dark: $saito_accent2_light;
$saito_border: #999;
$saito_gray_light: #FAFAFA;
$saito_gray_dark: #E0E0E0;
$saito_body_background: #f8f8f8; 
$saito_info_text: #6f6f6f; /* light grey */ 

$layout_min_width: 950px;

