@import "partials/_saito_setup";

/*** mixins ***/

.c_top-radius {
	@include border-top-left-radius($corner_radius);
	@include border-top-right-radius($corner_radius);
	}

.c_bottom-radius {
	@include border-bottom-left-radius($corner_radius);
	@include border-bottom-right-radius($corner_radius);
	}

.c_all-radius {
	@extend .c_top-radius;
	@extend .c_bottom-radius;
	}

.header_style_1 {
	@extend .c_top-radius;
	@include linear-gradient(color-stops($saito_base_very_light, $saito_base_light));
	background-color: $saito_base_light;
	border-bottom: $border_width solid $saito_gray_dark;
}

.header_style_2 {
	background-color: $saito_gray_dark;
  @include linear-gradient(color-stops(white, darken(#ffffff, 6%) 30%, lighten($saito_gray_dark, 6%) 70%, $saito_gray_dark));
  border: $border_width solid $saito_gray_dark;
  color: #333333;
	@extend .t_shadow;
}

.hero {
  background: $saito_base;
  background-image: -webkit-radial-gradient(50% 2%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 500px), inline-image("dots_light.png");
  background-image: -moz-radial-gradient(50% 2%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 500px), inline-image("dots_light.png");
  background-image: -o-radial-gradient(50% 2%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 500px), inline-image("dots_light.png");
  background-image: -ms-radial-gradient(50% 2%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 500px), inline-image("dots_light.png");
  background-image: radial-gradient(50% 2%, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 500px), inline-image("dots_light.png");

}

.hero-text {
  color: white;
  text-shadow: -1px 2px 3px rgba(255, 255, 255, 0.4), 0px -1px 3px rgba(0, 0, 0, 0.4);
}

.box_style_1 {
	background-color: white;
	border: $border_width solid $saito_gray_dark;
	@extend .c_all-radius;

	@extend .box_shadow_inset_1;


	.content {
		padding: $padding;
		}
}

.box_style_2 {
	background-color: $saito_gray_light;
	border: $border_width solid $saito_gray_dark;
	@extend .c_all-radius;
	@extend .box_shadow_inset_1;
	}

.box_layout_1 {
  width: auto;
  padding: $padding; }

.box_shadow_inset_1 {
  @include box-shadow(rgba(255,255,255,0.6) 0px 1px 1px, whiteSmoke 0px 1px 1px inset); 
	} 

.box_shadow_inset_2 {
  @include box-shadow(rgba(255,255,255,0.6) 0px 1px 1px, rgba(0,0,0,0.15) 0px 1px 1px inset); 
	} 

.box_shadow_down_1 {
  @include box-shadow(rgba(0,0,0,.15) 0 1px 3px 0); 

	}

.navbar-light {
  background:$saito_base_light;
  @include linear-gradient(color-stops($saito_base_very_light, $saito_base_light));
  @extend .box-shadow;
  border: 1px solid $saito_border ;
  
  // for firefox box-shadow;
  z-index: 10;

  color:#000000;
  @extend .t_shadow;

  .content {
    padding: $padding;
   }
}

.box-shadow {
  box-shadow: 0px 1px 3px #ccc;
  }

.header_style_dark {
	background: $saito_base_dark;
	@include linear-gradient(color-stops($saito_base, $saito_base_dark));
}

@mixin c_t_h_3_abs($height: 24px, $padding: 5px) {
	height: $height;

	h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

	& > div {
		position: relative;
	}
	& > div > div {
		line-height: $height - ( 2 * $padding);
		padding: $padding 0;
		text-align: center;
		white-space: nowrap;
    vertical-align: middle;
		}
	& > div > div:first-child {
		position: absolute;
		}
	// CSS2 :last_child for 
	// & > div > div:last-child  {
	& > div > .c_last_child  {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		}
	}

.c_t_h_3_tbl {
	display: table;
	width: 100%;

	& > div {
		display: table-row;
		}
	& > div > div {
		display: table-cell;
		white-space: nowrap;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		}
	& .c_first_child {
		width: auto;
		text-align: left;
		}
	& .c_last_child {
		width: auto;
		text-align: right;
		}
	}