.bp_container {
	@include container;
	margin: inherit;
	// backport from original blueprint framework:
	// clears out all column floats from last container
	// for using more than one
	overflow: visible;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; }
	max-width: 100%; 
	}

#disclaimer {
	@extend .bp_container;
	// put it under bottomnav
/*	height: 0px;*/
  width: 951px;
  margin: 0 auto;
  position: relative;

	font-size: 100%;
  line-height: 1.6em;

	@extend .t_shadow;
	@extend .c_info_text;

	color: $saito_info_text;

	a {
		border-bottom: #DDD 1px solid;
		@include link-colors($saito_info_text);
/*		@include hover-link();*/
	}

	h1, h2, h3 {
		font-size: 110%;
		font-weight: bold;
		margin-bottom: 0.83em;
    }

	.inside {
		@extend .box_style_1;
		margin: $padding $padding;
		margin-top: 25px;
		padding: $padding $padding;

		}
  }

.bp-threeColumn {
	@extend .bp_container;
	// put it under bottomnav
/*	height: 0px;*/

  .left {
    @include column(8); }
  .center {
    @include column(8); }
  .right {
    @include column(8, true); }
	}


.bp-fourColumn {
  .left {
    @include column(6); }
  .center_l {
    @include column(6); }
  .center_r {
    @include column(6); }
  .right {
    @include column(6, true); } 
	}
	