/*******************************************************************************
* Setup basic layout parameters
******************************************************************************/

// the grays
// -------------------------------------
$saito_gray_light:        #FAFAFA !default;
$saito_gray_input_border: #AAAAAA !default;
$saito_gray:              #6f6f6f !default;
$saito_gray_dark:         #E0E0E0 !default;

// base
// -------------------------------------
$saito_base_light:      #E6EDF0 !default;
$saito_base:            #607D86 !default;
$saito_base_dark:       $saito_base !default;

// accent
// -------------------------------------
$saito_accent_light:    $saito_base !default;
$saito_accent_dark:     $saito_base !default;
$saito_accent2_light:   $saito_base !default;
$saito_accent2_dark:    $saito_base !default;

// color for elements
// -------------------------------------
$link_color:            #E74A00 !default;
$saito_border:          #AEB9BD !default;
$saito_info_text:       #505050 !default;

// color for threads
// -------------------------------------
$thread_color_normal:   #111111 !default;
$thread_color_new:      $link_color !default;
$thread_color_actual:   $link_color * 1.4 !default;
$thread_color_actual:   #DF0000 !default;

// page style
// -------------------------------------
$saito_body_background: $saito_gray_light !default;
$layout_min_width:      950px !default;

// boxes
// -------------------------------------
$corner_radius:         3px !default;
$border_width:          1px !default;
$padding:               10px !default;
$padding-content:       20px !default;

/*******************************************************************************
* Setup bootstrap
******************************************************************************/

$linkColor:                       $link_color !default;

$btnSubmitBackground:             #abe337 !default;
$btnSubmitBackgroundHighlight:    #e6ffb1 !default;

$btnPreviewBackground:            #FEC853 !default;
$btnPreviewBackgroundHighlight:   #F7F7AA !default;