<div class="row">
  <div class="span12">
    <small class="muted">
      Proudly made in Leipzig, Germany • Last <a href="http://www.phrozn.info/">phrozn</a> on {{ date()|date("Y-m-d") }} 
    </small>
  </div>
</div>
