  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Saito - Threaded Web Forum in PHP</title>

    <!-- styles -->
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.css" >
    <link rel="stylesheet" href="styles/font-awesome.css" >
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/pygment_trac.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700italic' rel='stylesheet' type='text/css'>
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
