<div class="hero-unit row">
    <a href="https://github.com/Schlaefer/Saito"><img style="z-index: 5;position: absolute; top: 0; right: 0; border: 0; height: auto;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" alt="Fork me on GitHub"></a>
  <div class="span2 offset1">
    <a href="http://saito.siezi.com/">
      <span style='float:left; padding-left: 4px; padding-top: 7px; display:inline-block;'>
        <img src="media/img/logo.png" alt="logo" style="height: 77px;">
      </span>
    </a>
  </div>
  <div class="span9">
    <a href="http://saito.siezi.com/">
      <h1>Saito</h1>
      <p>The Threaded Web Forum</p>
    </a>
  </div>
</div>
