<!doctype html>
<html>
  {% include 'layouts/head.twig' %}
  <body>
    <div id="footerHelper">
      <div class="container">
        {% include 'layouts/hero.twig' %}
				<nav>
        <div id="boxes-row" class="row">
          <div class="span2 offset1">
            <div class="boxes-info">
              {% include 'entries/elements/download.twig' %}
            </div>
          </div>
          <div class="span3">
            <div class="boxes-info">
              {% include 'layouts/status.twig' %}
            </div>
          </div>
          <div class="span3">
            <div class="boxes-info">
              {% include 'layouts/topbar.twig' %}
            </div>
          </div>
          <div class="span3">
            <div class="boxes-info">
              {% include 'entries/elements/contact.twig'%}
            </div>
          </div>
        </div>
				</nav>
        <div class="row">
          <div class="span10 offset1">
            {{ content }}
          </div>
        </div>
    </div>
    <div id="footerPush"></div>
   </div>
    <footer>
      {% include 'layouts/footer.twig' %}
    </footer>
    {% include 'layouts/body-footer.twig' %}
  </body>
</html>
