<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Phile Editor</title>
    <link rel="stylesheet" href="{{ pluginUrl }}/public/styles.css" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>

    {% include 'pages/partials/editor-core.twig' %}

    <script>
        _.extend(window.appBootstrap, {
            pages: {{ navData|raw }},
            settings: {{ appSettings|raw }}
        });
        $(document).ready(function() {
            window.app.start(window.appBootstrap);
        });
    </script>

</body>
</html>