<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Markdown Editor Login</title>
    <link rel="stylesheet" href="{{ pluginUrl }}/public/styles.css" type="text/css" />
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>

	<form id="login-form" method="post" action="" class="center-form">
        {% if not authEnabled %}
            <p>
                Authentication disabled. Please set a password hash in config.php file of the markdown-editor plugin.
            </p>
            <p>
                <a href="{{ base_url }}/admin/password">
                    Create a password hash here.
                </a>
            </p>
        {% else %}
            <h1>Markdown Editor Login</h1>
            {% if login_error %}<p class="error">{{ login_error }}</p>{% endif %}
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" />
            <input type="submit" value="Login" class="btn" />

        {% endif %}
	</form>

</body>
</html>