<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Markdown Editor Password Hash</title>
    <link rel="stylesheet" href="{{ pluginUrl }}/public/styles.css" type="text/css" />
    <meta name="robots" content="noindex, nofollow" />
</head>
<body>

<form id="password-hash" method="post" action="" class="center-form">
    <h1>Markdown Editor Password Hash</h1>
    <label for="password">Password</label><br />
    <input type="text" name="passwordToHash" id="password" />
    <input type="submit" value="Hash" class="btn" />
    <p>
        {{ hashedPassword }}
    </p>
</form>



</body>
</html>