.drop-after-open {
  display: block;
}
.drop-element.drop-theme-arrows .drop-content {
  background-color: white;
  border-radius: 0px;
  padding: 0.3em;
  box-shadow: 0px 1px 12px silver;
}

.drop-element.drop-theme-arrows .drop-content:before {
  border-width: 8px;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
  border-top-color: white;
}

.drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
  margin-left: -8px;
}
