@import "../../dev/node_modules/bootstrap/scss/bootstrap";

// bootstrap size fixes for Paz not beeing rem based
.btn, .dropdown-menu {
    font-size: 1em;
}

.btn {
    padding: 0em 0.8em
}

// @import "../../dev/bower_components/jquery-dropdown/jquery.dropdown";

@import "partials/lib/_jquery-ui.custom";

$fa-font-path: "../stylesheets/font";
@import "partials/lib/font-awesome/font-awesome";

@import "partials/lib/_pnotify";

@import "partials/_basic";
@import "partials/_font-awesome-extend";
@import "partials/_jquery-ui";
@import "partials/_messages";
@import "partials/_maps";

@import "../../dev/bower_components/drop/css/drop-theme-arrows";
@import "partials/drop";

