@import "compass/css3/font-face";

@include font-face('theme-iconsregular',
  inline-font-files('theme-icons-webfont.woff', woff));

/*
@font-face {
  font-family: 'theme-iconsregular';
  src: ('../../font/theme-icons-webfont.woff') format('woff'),
  url('../../font/theme-icons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

.macnemo-theme-icons {
  font-family: theme-iconsregular;
  font-size: 120%;
}

.fa-admin {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\0061";
  }
}

.fa-mod {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\006D";
  }
}

.fa-multimedia {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\0065";
  }
}

.fa-s-gacker {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\0067";
  }
}

.fa-s-popcorn {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\0070";
  }
}

.fa-s-smile-o {
  @extend .macnemo-theme-icons;
  &:before {
    content: "\0073";
  }
}
