@import "compass/css3/box-sizing";

// Slidetabs like class
// -------------------------------------

.box-2-bg {
  background: rgba(255, 255, 200, 0.6);
}

.box-2 {
  @extend .box-2-bg;
  padding: $padding-content;
  border-color: rgba(255, 167, 0, 0.6);
}

.box-2-body {
  padding: $padding;
  background: $yellow-lighter;
  border: none;
}

// jQueryUI-Popup like class
// -------------------------------------

$box-3-padding-outer: 22px;

.box-3 {
  @extend .box-2;
  @extend .box-3-bg;
  padding: 0 $box-3-padding-outer $box-3-padding-outer;
}

.box-3-header {
  @extend .box-3-bg;
  min-height: $box-3-padding-outer;
}

.box-3-bg {
  @extend .box-2-bg;
}

.box-3-body {
  @extend .box-2-body;
}

/**
 * makes arbitrary child of .box-3 a .box-3-body element
 */
.box-3 > * {
  @extend .box-3-body;
  @include box-sizing(border-box);
}
