// Slidetabs like class
// -------------------------------------

.box-2-bg {
  @include background(
    linear-gradient(top, rgba(255,255, 200, 1), rgba(255, 255, 200, 0.37) 28px, rgba(255, 255, 200, 0) 33px),
    rgba(255, 255, 200, 0.6)
  );
}

%box-2-border {
  border-color: rgba(255, 167, 0, 0.6);
}

.box-2 {
  @extend .box-2-bg;
  @extend %box-2-border;
  padding: $padding-content;
}

.box-2-body {
  padding: $padding;
  background: rgb(255, 255, 240);
  border: none;
}

// jQueryUI-Popup like class
// -------------------------------------

$box-3-padding-outer: 22px;

.box-3 {
  @extend .box-2;
  @extend .box-3-bg;
  padding: 0 $box-3-padding-outer $box-3-padding-outer;
}

%box-3-border {
  @extend %box-2-border;
  border-width: 2px;
}

.box-3-header {
  @extend .box-3-bg;
  min-height: $box-3-padding-outer;
}

.box-3-bg {
  @extend .box-2-bg;
  background: rgba(255, 255, 255, 0.9);
}

.box-3-body {
  @extend .box-2-body;
  background: white;
}

/**
 * makes arbitrary child of .box-3 a .box-3-body element
 */
.box-3 > * {
  @extend .box-3-body;
  @include box-sizing(border-box);
}
