/*******************************************************************************
* Setup basic layout parameters
******************************************************************************/

// base
// -------------------------------------
$saito_base: #F7F7AA;
$saito_base_light: #F7F7AA;
$saito_base_dark: #FEC853;

// accent
// -------------------------------------
$saito_accent_light: $saito_base ;
$saito_accent_dark: $saito_base_dark;
$saito_accent2_light: #9acd32; /* light green */
$saito_accent2_dark: #55741c;

// color for elements
// -------------------------------------
$link_color: #a60202;
$saito_border: $saito_accent2_light;

// color for threads
// -------------------------------------
$thread_color_normal:   $link_color;
$thread_color_new:      #222221;
$thread_color_actual:   #FF0000;

// page style
// -------------------------------------
$saito_body_background: #f8f8f8;

/*******************************************************************************
* Setup and import bootstrap
******************************************************************************/

// import setup for paramters not overwritten by the theme
@import "../../../../Default/webroot/css/src/theme/_setup";