<a href="<%= url %>" target="_blank">
    <div class="card-img-container">
        <div class="spinner-border image-uploader-spinner" role="status">
            <span class="sr-only">
                <%- $.i18n.__('upl.loading') %>
            </span>
        </div>
        <img class="b-lazy card-img-top" data-src="<%= thumbnail_url %>">
    </div>
</a>
<div class="card-footer">
    <div class="js-rgForm"></div>
    <button class="js-btnDelete btn btn-link">
        <i class="fa fa-trash-o"></i>
    </button>
</div>
