<form enctype="multipart/form-data">
    <div class="js-dragAreaRg"></div>
    <div class="js-progressBarRg"></div>
    <div class="card-footer flex-bar flex-wrap align-items-center">
        <div></div>
        <div>
            <button class="btn btn-secondary js-abortBtn" type="button" style="display: none;">
                <%- $.i18n.__('upl.btn.abort.title') %>
            </button>
            <div style="position: relative;">
                <%
                // To present a nice upload button we generate a stayled fake button.
                // Beneath the styled dummy button is the actual input file upload,
                // but it's hidden behind the opacity: 0 curtain div.
                // z-index: 2000 to have the button above the jQuery UI modal.
                %>
                <button class="btn btn-primary js-sendBtn" type="button">
                    <%- $.i18n.__('upl.btn.title') %>
                </button>
                <div class="imageUploader-add-veil">
                    <input id="Upload0File"
                        class="btn btn-primary"
                        type="file" name="upload[0][file]"
                        style="width: 150px; height: 100%;">
                </div>
            </div>
        </div>
        <div class='js-statsRg'></div>
    </div>
</form>
