/*******************************************************************************
* Messages Setup
******************************************************************************/

$color-flashNoticeBg:   #9ACD32;
$color-flashWarningBg:  #FFB800;
$color-flashErrorBg:    #a60202;

/*******************************************************************************
* Flash Messages
******************************************************************************/

.flash, .message {
	clear: both;
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	margin: 0px 0px 1em;
	padding: 0.4em;
	color: white;
	@extend .c_all-radius;
	text-shadow: hsla(0, 0%, 0%, 0.3) 0px -1px 1px;
  background-color: $color-flashErrorBg;
  border: $border_width ($color-flashErrorBg / 1.2) solid;
  }

.flash-error {
    border-color: $color-flashErrorBg / 1.2;
		background-color: $color-flashErrorBg;
	}

.flash-warning {
    border-color: $color-flashWarningBg / 1.2;
		background-color: $color-flashWarningBg;
}

.flash-notice {
    border-color: $color-flashNoticeBg / 1.2;
		background-color: $color-flashNoticeBg;
}

/*******************************************************************************
* Validation messages
******************************************************************************/

.error-message, .message {

	padding: 5px;

	/* einziehen Zunge Fehlermeldungen */
  /*	padding-top: 5px + $corner_radius;*/
  /*	margin-top: -1 * $corner_radius;*/

	background-color: $color-flashErrorBg;
	color: white;
	@extend .c_bottom-radius;
	text-shadow: #595959 0px -1px 1px;
}
