/* 2011-02-21  */
@import "partials/_saito_mixins";
@import "partials/_saito_blueprint";

body {
	background-color: $saito_body_background;
	font-size: 12px;
	font-family:  'Open Sans', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
	}

/* backgrounds */
.bg_internal {
  background-image: image_url("dots.png");
}


// images
img {
  border: 0px; 
	}

// typography
strong, b	{ 
	font-weight: bold; 
	}

em, i {
	font-style: italic;
	}

.c_bbc_underline, u {
	text-decoration: underline;
	}

.info_text {
  color: $saito_info_text; 
	}

.small {
	font-size: 90%; 
	}

.super {
  font-size: 0.83em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.2em; }

.nowrap {
	white-space: nowrap;
	}


// standard links
a {
	@include link-colors($link_color);
	text-decoration: none;
	}

// text shadow

.t_shadow {
	text-shadow: white 0px 1px;
}