.bp_container {
	@include container;
	margin: inherit;
	// backport from original blueprint framework:
	// clears out all column floats from last container
	// for using more than one
	overflow: visible;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; }
	max-width: 100%;
	}

.bp-threeColumn {
	@extend .bp_container;
	// put it under bottomnav
/*	height: 0px;*/

  .left {
    @include column(8); }
  .center {
    @include column(8); }
  .right {
    @include column(8, true); }
	}


.bp-fourColumn {
  .left {
    @include column(6); }
  .center_l {
    @include column(6); }
  .center_r {
    @include column(6); }
  .right {
    @include column(6, true); }
	}
	