/** slidetabs general start **/
#slidetabs {
	float: right;
	overflow: hidden;

	z-index: 5;
	position: relative;

	.button_wrapper, .content_wrapper {
		background-color: $saito_base_light;
    @extend .gradient-base;
		@include box-shadow( #ddd, -1px, 2px, 2px);
		margin-bottom: 2px;

		border-color: $saito_border;
		border-style: solid;
		border-width: 1px;
		@include border-top-left-radius($corner_radius);
		@include border-bottom-left-radius($corner_radius);

		@extend .t_shadow;
	}

	.button_wrapper {
		float: left;
		margin-top: 5px;
		padding: 4px;
		width: 20px;
		height: 20px;

		border-right: none;

		text-align: center;

		position:relative;
		&:hover {
				cursor: pointer;
		}

		.button {
			position: absolute;
			width: 20px;
			line-height: 20px;
			top: 50%;
			margin-top: -10px;
		}
	}
	.content_wrapper {
		 margin-left: 28px;
		 min-height: 34px;
		 width: 200px;
		 padding: 10px;
	}
}



.slidetab {
	clear: right;
	float: right;
	margin: 5px -1px 2px 10px;
	overflow: hidden;

	h2 {
		text-align: center;
		margin-bottom: 0.2em;
	}

	form {
		clear: none;
	}

}

.slidetab_rp {
/*	white-space: nowrap;*/
	li {
		margin-bottom: 0.5em !important;
		}
	li li {
		/* gentle handling of overflow for long words in subject */
		overflow: hidden;
		text-overflow: ellipsis;

		padding-left: 26px !important;
		text-indent:  -1.75em;
		font-weight: normal;
		}

		li [class^="icon-"], li [class*=" icon-"] {
			text-align: right;
			padding-right: 0.25em;
		}
	}

.slidetab_tree {
	font-weight: bold;

	li {
		margin-bottom: 1em;
		}

	li:last-child {
		margin-bottom: 0;
		}
	}


.slidetab_tree .slidetab_subtree {
	padding-left: 2em;
	margin-top: -1em;
	font-weight: normal;

	li {
		margin-bottom: 0;
		@extend .sprites;
		@include sprite-row(2);
		width: auto;
		/* height of the bullet image */
		height: auto;
		padding: 0 0 0 17px;
	}

	li:last-child {
		/* we can't use @extend .sprites; -> breaks IE8 because of last-child */
		@include sprite-background($sprites_image);
		@include sprite-row(3);
		width: auto;
		/* height of the bullet image */
		height: 15px;
		/* temporary fix for last line being to small if user line-height pref is > +1 */
		padding-bottom: 0.5em;
	}
}
/** slidetabs general end **/

/*** userlist short start ***/
.slidetab {
	.act_user {
		font-weight: bold;
		}
	}
/*** userlist short end ***/
