/* line 2, ../src/mobile.scss */
.mobile_mix {
  /** Indent in mix view */
  /** **/
  /** nice border arround entry text in mix view */
  /** make entry content as wide as possible */
  /** **/
  /** colapsable buttons: allow multiple row text */
  /** **/
  /** description text under colapse-buttons */
}
/* line 4, ../src/mobile.scss */
.mobile_mix ul.posting {
  padding: 0;
  margin: 0;
}
/* line 8, ../src/mobile.scss */
.mobile_mix ul.posting ul {
  margin-left: 15px;
}
/* line 15, ../src/mobile.scss */
.mobile_mix .ui-collapsible-contain {
  border: 2px solid silver;
  border-width: 0 2px 2px 2px;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  background-color: rgba(192, 192, 192, 0.2);
}
/* line 24, ../src/mobile.scss */
.mobile_mix .ui-collapsible-content {
  padding-left: 21px;
}
/* line 30, ../src/mobile.scss */
.mobile_mix .ui-btn-inner {
  white-space: normal;
}
/* line 36, ../src/mobile.scss */
.mobile_mix .ui-li-desc {
  font-style: italic;
  padding: 1em;
  float: right;
}

/* end .mobile_mix */
