/*******************************************************************************
* Phone
******************************************************************************/

@media only screen and (max-width: 480px) {

	.thread_line, .thread_line-pre {
		-webkit-text-size-adjust: 180%;
		line-height: 1.6em;
		}

	.thread_line-content {
		padding-left: 30px;
		padding-bottom: 2px;
		}

	.thread_line-post {
		display: block;
		margin-left: 1em;
		}
	}

/******************************************************************************/

/*******************************************************************************
* iPad
******************************************************************************/

@media only screen and (device-width: 768px) {
	body {
		font-size: 12px;
		}

	// thread_line-* sets threads to two lines to increase click target
	.thread_line-pre {
		height: 36px;
		line-height: 36px;
		font-size: 24px;
		}

	.thread_line-content {
		padding-left: 30px;
		padding-bottom: 2px;
		}

	.thread_line-post {
		display: block;
		margin-left: 1em;
		line-height: 14px !important;
		}
}

@media only screen and (device-width: 768px) and (orientation:portrait) {
	body,html {
		width: 768px;
		min-width: 768px;
	}
}
@media only screen and (device-width: 768px) and (orientation:landscape) {
	body,html {
/* don't touch it! */
/*		width: 980px;*/
/*		min-width: 980px;*/
	}
}

/******************************************************************************/