@import "partials/_saito_base";

@import "partials/_sprites.scss";
@import "partials/_markitup";
@import "partials/_messages";

html, body {
  height: 100%; 
	}

body {
  /* don't use this sucker on mobile devices (e.g. iOS */
  /* text-rendering: optimizeLegibility; */

  min-width: $layout_min_width;

	-webkit-tap-highlight-color: rgba(253, 184, 18, 0.4);
	}

.clearfix {
  clear: both;
  @include clearfix; }

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.83em; }

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.83em;
  margin-top: 0; }

p {
	line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 1em; }


.normal {
  line-height: 19px;
  max-width: 750px; }

.highlight {
  background-color: #ffff99; }

code, pre, tt {
  line-height: inherit;
  font-family: monospace;
  font-size: 12px; }

/** Allgemeine Schmuckelemente start ** */

ul.style_1 {
	list-style: disc;
	margin: 1em;

	li {
		margin-left: 2em;
		}
	}

#session_flash {
	/* make left/right same value as #content margin */
  margin: 10px 20px; }

.fieldset_1 {
  @extend .box_style_1;
  @extend .box_layout_1; }

.fieldset_2 {
  @extend .box_style_2;

	line-height: 1.5em;
  width: auto;
  padding: $padding; }

.c_table{
  width: 100%;
  border-spacing: 0;
	border-collapse: separate;	
  background: none;
  td,th {
    padding: 0.8em;
		}
	}

.c_table_clean_1 {
	@extend .c_table;
	line-height: 1.6em;
	th {
		font-weight: bold;
		}
	}

.c_table_header_left {
	td:first-child {
		font-weight: bold;
		text-align: right;
		vertical-align: top;
    border-right: $border_width solid $saito_gray_dark;
		width: 38%;
		}
	}

.table {
	@extend .c_table;
  td,th {
    border-bottom: $border_width solid $saito_gray_dark;
    border-right: $border_width solid $saito_gray_dark; }
  tr {
    background: white; }
  td:first-child, th:first-child {
    border-left: $border_width + 1 solid $saito_gray_dark; }
  td:last-child, th:last-child {
    border-right: $border_width + 1 solid $saito_gray_dark; }
  tr:first-child {
    td, th {
      border-top: $border_width + 1px solid $saito_gray_dark; }
    td:first-child, th:first-child {
      border-top-left-radius:$corner_radius; }
    td:last-child, th:last-child {
      border-top-right-radius:$corner_radius; } }
  tr:last-child {
    td, th {
      border-bottom: $border_width + 1 solid $saito_gray_dark; }
    td:first-child, th:first-child {
      border-bottom-left-radius:$corner_radius; }
    td:last-child, th:last-child {
      border-bottom-right-radius:$corner_radius; } }
	}

.table_1 {
  @extend .table;
  th {
    @extend .gradient-base;
    font-weight: bold; }
  tr.b {
    background-color: $saito_gray_light; } }

.table_th_left_1 {
  @extend .table;
  tr {
    vertical-align: top; }
  td:first-child {
    font-weight: bold;
    width: 150px;
    @extend .gradient-base-horizontal;
    border-left: $border_width + 1 solid $saito_gray_dark; } 
	}

.loading_indicator {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  display: none; }

.spinner {
  &:after {
    content: "";
    background: inline-image("loading_indicator.gif") top center no-repeat;
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px auto; } }

/** Allgemeine Schmuckelemente ende ** */

/* eye-catching links ( with red triangle) */
a.textlink {
  @include link-colors($link_color);
  text-decoration: none;
  font-weight: bold;
  }

/* template: */
#top {
  /* needed for position subelements in header */
  position: relative;
  height: 70px;
  overflow: hidden;

	background-color: $saito_base_dark;
	background-image: image-url("bubbles_outer.jpg");
	background-repeat: repeat-x;

  .right {
    position: absolute;
    right: 0px;
    text-align: right;
    max-width: 400px; }
	/* Sponsorlogo */
  .spnsr {
    float: left;
		height: 70px;
		width: 80px;
    }
  .left, .right {
    margin: 0;
    padding: 0 20px 0 0px; }
	.right {
		padding-top: 15px;
	}
  .left {
    /* with of .spnsr left */
    margin: 0 0 0 80px; } }

/* #top end */

#search_header {
  display: inline;
  form {
    margin: 0;
    height: 26px;
    font-size: 12px; } }

#header_login {
  @extend .header_style_1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 1em;
  font-size: 10px;

  border-top-left-radius: $corner_radius;
  border-width: 1px 0 0 1px;

  // dividers between items in border color
  color: $saito_border;
  }

#topnav {
  @extend .box-shadow;
}

#bottomnav {
  @extend .box-shadow-up;
}

#topnav, #bottomnav {
	@include c_t_h_3_abs(30px);
  @extend .navbar-light;
	padding: 0 20px;

  border-width: 1px 0 1px 0;
	}

#footer_pinned {
  width: 100%;
	position: absolute; 
	bottom: 0px;
	}

#content {
	// bottom = #bottom_nav height + 20px
  padding: 20px 20px 52px 20px;
	}

#disclaimer {
	// put it under bottomnav
/*	height: 0px;*/
  width: 951px;
  margin: 0 auto;
  position: relative;

  line-height: 1.6em;

  @extend .small;
	@extend .t_shadow;
	@extend .c_info_text;

	color: $saito_info_text;


	a {
		border-bottom: #DDD 1px solid;
		@include link-colors($saito_info_text);
	}

	h1, h2, h3 {
		font-size: 110%;
		font-weight: bold;
		margin-bottom: 0.83em;
    }

	.inside {
		@extend .box_style_1;
		margin: $padding $padding;
		margin-top: 25px;
		padding: $padding $padding;

		}
  }

.where_location {
  font-weight: bold; }

.postingheadline {
  margin: 0px 0px 2px 0px;
  font-size: 1.25em;
  font-weight: bold;
  line-height: normal !important; }

div.posting {
  margin: 0px 0px 0px 0px;
  line-height: 1.6em;
  color: black;
  max-width: 80em; 

	/* *** Nicer Image Handling in Postings *** start */
	// overflow: auto;
	img, object, embed  {
		max-width: 80em;
		}
	/* *** Nicer Image Handling in Postings *** end */
	}

div.author {
  margin: 1px 0 1em 0;
  line-height: 19px;
  color: black;
  font-style: italic; }

div.author a {
  font-weight: bold; }

/* horizontale linie zwischen postings */
.entryline {
  margin: 15px 0px 15px 0px;
  border-top: 1px dotted gray;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  height: 1px; }

.admin-highlight {
  color: red; }

.mod-highlight {
  color: red; }

/* signatures: */
.signature {
  margin: 10px 0px 0px 0px;
  font-size: 0.9em;
  line-height: 16px;
  color: gray;
  font-weight: normal;
  max-width: 750px; }

/* categories: */
a.category_acs_0, .category_acs_0 {
  @include link-colors($saito_accent2_dark);
  font-weight: 600; }

/* regular users */
a.category_acs_1, .category_acs_1 {
  @extend a.category_acs_0;
  font-variant: small-caps; }

/* mod and admins */
a.category_acs_2, .category_acs_2 {
  @extend a.category_acs_0;
  background: #d5d5d5; }

.c_thread_line_meta_alert {
	color: $link_color;
	font-weight: bold;
}

/* thread and reply links start */

/* dont forget to change the userpref css in user_h.php if you do changes here */
li.thread .span_post_type, li.reply .span_post_type {
  @include link-colors($link_color);
  font-weight: bold; }

/* new threads and replies: */
li.threadnew .span_post_type, li.replynew .span_post_type {
  @include link-colors(#222221);
  font-weight: bold; }

li.actthread .span_post_type, li.actreply .span_post_type {
  @include link-colors(red);
  font-weight: bold; }

/* thread and reply links end */

/* Thread tree: */
ul.thread, ul.threadnew {
  list-style-type: none;
  margin: 0px 0px 18px 0px;
  list-style-type: none; }

ul.reply, ul.replynew {
  list-style-type: none;
  margin: 0 0 0 30px;
  list-style-type: none; }

ul.deep-reply {
  margin: 0px;
  list-style-type: none; }

li {
  line-height: 1.7em;
  }

fieldset legend {
  background-color: #fffdbe;
  border: 1px solid #bacbdf;
  padding: 0px 20px;
  background-repeat: repeat-x; }

fieldset {
  border: 1px solid #bacbdf; }

fieldset hr {
  border: 0px;
  background: #bacbdf;
  height: 1px; }

.fieldset_without_table .field {
  position: relative;
  margin: 10px; }

.fieldset_without_table label {
  left: 0px;
  text-align: right;
  width: 190px;
  position: absolute; }

.fieldset_without_table input {
  left: 200px;
  position: absolute; }

fieldset label {
  float: left;
  width: 60px;
  text-align: right;
  margin-right: 5px; }

fieldset  input {
  margin-top: 0px; }

fieldset .submit input {
  float: right;
  margin-right: 10px; }

.pointer:hover {
  cursor: pointer; }

/* Move-Da-Chicken */

@-webkit-keyframes move-da-chicken {
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
@-moz-keyframes move-da-chicken {
		0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes move-da-chicken {
		0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img[src*="gacker_large.png"]:hover {
	-webkit-animation-name: move-da-chicken;
	-webkit-animation-duration: 1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;

	-moz-animation-name: move-da-chicken;
	-moz-animation-duration: 1s;
	-moz-transform-origin:50% 50%;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-direction: alternate;

	animation-name: move-da-chicken;
	animation-duration: 1s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	}

/** bbcode */
.c_bbc_code-wrapper {
  background-color: #f9f9f9;
  padding: 4px; }

.code {
  font-family: courier-new, courier;
  background: #f9f9f9; }


.c_bbc_link-dinfo, .c_bbc_imessage {
	@extend .info_text;

  font-weight: normal;
  font-style: normal;
  text-decoration: none;
	}

.c_bbc_imessage {
	font-style: italic;
}

.c_bbc_upload {
	margin: 5px 0px 5px 0px
	}

.c_bbc_external-image {
  margin: 5px 0px 5px 0px; }

.c_bbc_citation {
  color: $saito_info_text;
  font-style: italic; }

.c_bbc_ul {
  margin: 0em 2em;
  padding: 0;
  list-style-image: image-url("bbcode_list_image.png"); }

.c_bbc_li {
  margin: 0.5em 0;
  padding: 0; }

/** geshi */
.code {
  padding: 1em; }

.code ol {
  list-style: decimal;
  list-style-position: inside; }

.geshi-plain-text {
  font-size: smaller; }

/* see also app/config/geshi.php for zebra colors */

/** form elemente ** */
input, textarea {
  font-size: 100%;
  padding: 0.2em 0.5em;
	@extend .c_all-radius;
  border: 1px solid $saito_gray_dark;
  width: 98%;
  /* chrome in linux */
  outline-color: $saito_accent_dark; }

input[type=checkbox] {
	width: auto;
	}

select {
  vertical-align: middle; }

form div {
  max-width: 60em; }

form textarea {
  width: 98%;
  margin: 0; }

/* inset shadow for text fiedls */
input[type=text], input[type=password], textarea {
	@extend .box-shadow-inset;
  border-color: #a8a8a8; }

form > div {
  padding: 0.5em; }

form div.submit {
  display: inline; }

form .required {
  font-weight: bold; }

form .required label:after {
  color: #ee3322;
  content: "*";
  display: inline; }

label, .label {
  display: block;
  font-size: 110%;
  margin-bottom: 3px; }

/** buttons start ** */
.btn {
  color: #333333;
  text-shadow: #ececec 0px 1px 0px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: auto;
  line-height: normal; 
	@include box-shadow(rgba(0,0,0,.15) 0 1px 2px 0, rgba(255, 255, 255, .35) 0 0 1px 1px inset);
  &:active {
	  @include box-shadow(rgba(0, 0, 0, .1) 0 0 4px 1px inset);
		} 
	}

a.btn {
  @include link-colors(#333333); }

.btn_submit {
  @extend .btn;
  @extend input;
  background-color: #abe337;
  @include linear-gradient(color-stops(#e6ffb1, #abe337));
  border-color: $saito_accent2_light;
  font-size: 110%;
  font-family: inherit;

  &:active {
    @include linear-gradient(color-stops(#abe337, #e6ffb1));
		} 
	} 

.button_alternate,.button_edit {
  @extend .btn;
  @extend input;
  background-color: #fafafa;
  @include linear-gradient(color-stops(#fafafa, $saito_gray_dark));
  border-color: #cccccc;
  &:active {
    @include linear-gradient(color-stops($saito_gray_dark, #fafafa)); } }

.btn_warning {
  @extend input;
  background-color: #a60202;
  @include linear-gradient(color-stops($saito_base_dark, #a60202));
  border-color: #a60202;
  font-family: inherit;
  color: white;
  font-size: 110%;
  &:active {
    @include linear-gradient(color-stops(#a60202, $saito_base_dark)); } }

.button_navigation {
  @extend .btn;
  @extend input;
  background-color: none;
  border-color: #cccccc;
  margin: 10px; }

.btn_preview {
  @extend input;
  @extend .btn;
	background-color: $saito_base_dark;
  @include linear-gradient(color-stops($saito_base, $saito_base_dark));
  border: 1px solid $saito_base_dark;
  &:active {
    @include linear-gradient(color-stops($saito_base_dark, $saito_base)); } }

.icon-remove {
  // bogus: with it the close buttons do not work
  position: relative;
  }

.btn_info {
  float: left;
  border: 1px solid #cccccc;
  border-radius:15px;
  height: 14px;
  width: 14px;
  color: silver;
  cursor: pointer;
  display: relative;
  padding: 0;
  &:after {
    content: "i";
    font-family: Times New Roman, Times, Serif;
    font-weight: bold;
    font-style: italic;
    display: block;
    text-align: center;
    width: 14px; }
  &:active {
    background-color: $saito_gray_dark; } }

/*back and top wide button start */
.btn_back_l, .btn_top_l {
  height: 100%;
  width: 15px;
  position: absolute;
  border: $border_width solid $saito_gray_dark;
  background-color: $saito_gray_light;
	@extend .c_all-radius;
  &:active {
    background-color: $saito_gray_dark; } }

.btn_back_l {
  background-image: image-url("mix_back.png");
  background-repeat: repeat-y; }

.btn_top_l {
  background-image: image-url("mix_top.png");
  background-repeat: repeat-y; }

/*back and top wide button end */

/** buttons end ** */

/*******************************************************************************
 * Buttons Thread Tools
 ******************************************************************************/

.ico-threadTool {
	display: inline-block;
	margin-top: 1px;
	width: 13px;
	height: 13px;
}

.ico-threadCollapse     { @extend .sprite-thread-collapse; 	    }
.ico-threadOpen 		    { @extend .sprite-thread-open; 			    }
.ico-threadOpenInline   { @extend .sprite-thread-open-inline;   }
.ico-threadOpenNew      { @extend .sprite-thread-open-new;      }
.ico-threadOpenMix      { @extend .sprite-thread-open-mix;      }
.ico-threadCloseInline  { @extend .sprite-thread-close-inline;  }

/** headers start ** */
.c_header_1 {
	@include c_t_h_3_abs(24px);
	padding: 0px 5px;

	@extend .header_style_2;
	border-width: 1px 0;

	}

.c_header_2 {
	@extend .header_style_2;
	@extend .c_t_h_3_tbl;
	@extend .c_top-radius;
	border-width: 0 0 $border_width 0;
	// explizit zero left right margin for FF and Opera
	padding: $padding/2 0;
	}

.c_header_1, .c_header_2 {
	border-bottom: 1px solid silver;

	@extend .box_shadow;

	// make shure box shadow is always above background; esp. Vorschau header
	position:relative;
	z-index: 10;

	h1, h2, h3 {
		font-size: 13px;	
		font-weight: bold;
		margin: 0;
		}
	}

/** headers end ** */

/** entry/add ** */
.entry.add, .entry.edit {
  background-color: $saito_gray_light;
  border-style: solid;
  border-color: $saito_gray_dark;
  border-width: 0 $border_width $border_width $border_width;
	@extend .c_bottom-radius;
  .preview {
    display: none; }
  .preview .content {
    background-color: white;
    padding: 20px; }
  .content {
    overflow: hidden; }
  form {
    display: block;
    padding: $padding;
    label {
      display: inline; } }
  form > div {
    padding: 0em; }
  form > div > div {
    padding: 0.5em; }
  submit {
    margin: 0; } }

.entry.reply {
  @extend .entry.add;
/*  border-radius(0);*/
  border: none;
	@extend .c_bottom-radius;
	}

.postingform_main {
  @include column(18); }

.postingform_right {
  @include column(4, true);

	.checkbox {
		white-space: nowrap;
		}
	}

.entry_edited_info, .c_info_text {
	@extend .info_text;
	@extend .small; 
	}

/*******************************************************************************
 * Entry thread_line
 ******************************************************************************/

.thread_line-pre {
	position: absolute;
	vertical-align: text-top;
	height: 19px;
	line-height: 19px;
	font-size: 13px;
	}

.thread_line-content {
	padding-left: 18px;
	display: block;
	&:hover{
		background: #F0F0F0;
		}
	}

.thread_line-username {
	font-weight: 600;
	}

.thread_line-post {
		@extend .c_info_text;
		font-weight: normal;
		display: inline;
		margin-left: 0.5em;
}

/* thread_slider */
.t_s {
  /* 20 px left because of huge, vertical close button */
  margin: 5px 5px 5px 20px;
  border: $border_width $saito_gray_dark solid;
	@extend .c_all-radius;
  /* user_list und inline view sollen sauber getrennt bleiben */
  overflow: hidden; }

/******************************************************************************/




#entry_index {
  margin-top: -10px;
  .tree_thread {} }

/** entry/view ** */
#entry_view, #entry_mix {
  .a,.b {
    @extend .box_style_1; } }

/*#entry_view, #entry_mix, #entry_index {*/
  .a_a_a {
    padding: 10px 10px 15px 10px; }

	.c_a_a_b {
		@extend .c_t_h_3_tbl;
		height: 45px;

	& > div > div {
		border-style: solid;
		border-color: $saito_gray_dark;
		padding: 0 20px;
		}

	.c_a_a_b_a {
		border-width: $border_width $border_width 0 0;
		border-top-right-radius:$corner_radius;
		}

	.c_a_a_b_c {
		border-width: $border_width 0 0 $border_width;
		border-top-left-radius:$corner_radius; }
		}
	
	.a { margin-bottom: 10px;
	}

  .b {
    padding: 10px;
    .tree_thread {
			@include box-shadow(0 0 0);	
      border: none;
      background: none;
      padding: 0;
      margin: 0; } } 
/*	}*/

/*entry/view end */

/* */
.tree_thread {
  @extend .box_style_1;
  padding: 8px;
  margin-bottom: 4px;
  .img_pencil {
    visibility: hidden; }
  ul:first-child {
    margin-left: 30px; } }

ul.thread {
  margin: 0 !important; }

.thread_box {
  /* user_list und inline view sollen sauber getrennt bleiben */
  /*	overflow: hidden; */ }

.thread_tools {
  opacity: 0.2;
  border-style: solid;
  border-color: $saito_gray_dark;
  border-width: $border_width $border_width 0 $border_width;
  display: inline-block;
  margin-left: 35px;
  border-top-left-radius:$corner_radius;
  border-top-right-radius:$corner_radius;
  ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline; }
  li {
    float: left; }
  a {
    padding: 1px 10px;
    display: inline-block;
    text-align: center;
    width: 13px;
    height: 13px;
    &:active {
      background-color: $saito_gray_dark; } }
  li {
    border-right: $border_width solid $saito_gray_dark; }
  li:first-child {
    /* we need this for the active state */
    border-top-left-radius:$corner-radius; }
  li:last-child {
    border: none;
    /* we need this for the active state */
    border-top-right-radius:$corner-radius; } }

.thread_inline {
  display: none;
  position: relative;
  margin: 4px 0;
  .btn_back_l, .btn_top_l {
    float: left; }
  /* otherwise link is slidetabs not clickable if inline with is open */
  /*	overflow: hidden; */ }

/** start mod panel ** */
.button_mod_panel {
  float: right;
  border-bottom-left-radius:$corner_radius;
  border-width: 0 0 $border_width $border_width;
  border-color: $saito_gray_dark;
  border-style: solid;
  color: $link_color;
  padding: 5px;
  margin: -11px -12px 10px 10px;
  height: 16px;
  width: 16px;
  .left {
    width: 25px;
    float: left; }
  .right {
    margin-left: 30px;
    padding: 0 1em;
    display: none; }
  ul {
    /* !important: in inline_view on entries_index the tree ul stuff messes in */
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none; } }

/** end mod panel ** */

/** search start ** */
.search_form {
  position: relative; }

.search_form input {
  margin: 0;
  padding: 0 0.5em;
  }

.search_form > div {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 0; }

.search_textfield {
  height: 22px;
  margin: 0;
  width: 100%;
  border-radius:0;
  border-top-left-radius:$corner_radius;
  border-bottom-left-radius:$corner_radius;
  border-right-width: 0;
  color: #222222;
  border-color: #a8a8a8;
  background-color: white;
  font-size: auto; }

.search_textfield:focus {
  outline-width: 0; }

.btn_search_submit {
  background-color: #fafafa;
  /* workaround for firefox font bug */
  /*		font-family: Helvetica, Arial, Sans-Serif; */
  float: right;
  margin: 0;
  height: 100%;
  border-color: #a8a8a8;
  border-radius:0;
  border-top-right-radius:$corner_radius;
  border-bottom-right-radius:$corner_radius;
  white-space: nowrap;
  cursor: pointer;
  &:active {
    background-color: #eeeeee; } }

.btn_search_header {
  width: 24px;
  height: 24px;
  border-left: none;
  background-color: white;
	@extend .box-shadow-inset;
  margin-left: -1px !important; }

.search_textfield_header {
  margin-right: -1px !important; }

/** search end ** */

@import "partials/_slidetabs";
@import "partials/_tablet";
@import "partials/_jquery-ui.scss"
