/*******************************************************************************
 * Template
 ******************************************************************************/

.hero { }
.hero-text { }
.top-menu {
  border-color: silver;
  border-style: solid;
}
.navbar {
  border-color: silver;
  border-style: solid;
}
.disclaimer { }
.disclaimer-inside {
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid silver;
}

.fieldset_1 { }

/*******************************************************************************
 * Threads
 ******************************************************************************/

/* categories
// ------------------------------------- */
/* all users/public */
a.category_acs_0, .category_acs_0 { }

/* regular users */
a.category_acs_1, .category_acs_1 { }

/* mod and admins */
a.category_acs_2, .category_acs_2 { }

/*******************************************************************************
 * View Posting
 ******************************************************************************/

.signature {
  color: gray;
  font-size: 0.95em;
}

