/* Bootstrap
// ----------------------------------- */
h1, h2, h3, h4, h5 {
	margin-bottom: 18px
	}

/* Datatables
// ----------------------------------- */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
		cursor: pointer;
}

table.table thead .sorting { background: url('../../js/lib/datatables/media/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../../js/lib/datatables/media/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../../js/lib/datatables/media/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../../js/lib/datatables/media/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../js/lib/datatables/media/images/sort_desc_disabled.png') no-repeat center right; }

/* flot graphs
// ----------------------------------- */
.admin-stats-plot {
	width: 100%;
	height: 300px;
	}