/*
@base-dark: #607D86;
@base-veryLight: #F5F8F9;
@link-color: #005580;
*/
@border-color: #E2E2E2;
@base-light: #E6EDF0;

@footerHeight: 40px;
@font-stack: 'Cabin', 'sans-serif';

em {
  font-style: normal;
  font-weight: bold;
}

#footerHelper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1*@footerHeight;

}

footer, #footerPush {
  height: @footerHeight;
}

footer {
  margin: 0 auto;
  line-height: @footerHeight - 2px;
  text-align: center;
}


.link-colors(@color, @text-decoration: none) {
  &, &:hover, &:visited, &:active, &:focus {
    text-decoration: @text-decoration;
    color: @color;
  }
}

a, .jumbotron {
  .link-colors(#D50606);
}

.container .jumbotron {
  font-weight: normal;
  letter-spacing: 1px;
  background: none;
  border-bottom: 1px solid @border-color;
  // padding: 25px 0px 10px;
  position: relative;
  padding: 0;
  margin-top: 1em;
  .rounded-corners (0);

  font-family: 'Arvo', 'sans-serif';
  font-style: italic;
  font-weight: 700;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    font-size: 1em;
  }

  h1 {
    font-size: 63px;
    margin-bottom: 0;
  }
}

.rounded-corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}


html, body {
  height: 100%;
}

p {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  // width: 940px;
  // padding: 0 0px;
}

.content-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: white;
  border-width: 0 1px;
  padding-bottom: 20px;

  overflow: hidden;

  z-index: 5;
  position: relative;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color:#222;
  margin:0 0 20px;
  text-rendering: optimizeLegibility;
}

h2 {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 700;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

ul {
  list-style: square;
}

ul ul {
  margin-left: 1em;
  list-style-type: none;

  @ti: -1em;
  li:before {
    content:"–";
    position:relative;
    left:-5px;
    }
   li {
     text-indendt: -5px;
     }
}

hr {
  border-bottom: none;
  margin: 25px 0;
}

small {
  font-size:11px;
}

.icon-schmuck {
  position: absolute;
  font-size: 174px;
  line-height: 174px;
  right: -42px;
  top: -10px;
  z-index: -5;
  color: @base-light;
}


blockquote {
  font-style: italic;
  border-color: @border-color;
  border-left: none;
  margin-bottom: 20px;

  strong {
    font-weight: 600;
    }
}

blockquote[cite]:after {
    display: block;
    text-align: left;
    content: "\2014\ " attr(cite);
    font-style: normal;
    font-size: 1em;
		margin-top: 1em;
		margin-left: 16em;
    margin-bottom: 0;
    }

.row, .span10 {
  // position for .icon-schmuck
  position: relative;
}

.span5 {
  padding-right: 20px;
  width: 360px;
}

#boxes-row {
  border-bottom: 1px solid @border-color;
  margin-bottom: 30px;

  > div {
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #boxes-row {
    > div {
      margin-top: 15px;
      border-bottom: 1px solid @border-color;
    }

    > div:last-child {
      border-bottom: none;
    }
  }
}

.boxes-info {

  h1 a {
    color: inherit;
  }

  h3, h4, h5 {
    margin-top: 1em;
    &:first-child {
      margin-top: 0em;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    line-height: 20px;
    padding-bottom: 10px;
  }
}

#sidebar {
  padding-left: 30px;
}

section {
  padding: 0 2em;
}

.bg_internal {
}

nav {
  a {
    text-decoration: none;
  }
}

.nav-tabs {
  border: none;

  li a {
    color: inherit;
  }

  & > .active > a, & > .active > a:hover {
    color: inherit;
    border-bottom-color: #DDD;
  }
}

.nav-tabs > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
  .rounded-corners(2px);
}

.btn, .label {
  .rounded-corners(2px);
}

.label-success {
  background-color: #00bb00;
}

.s-contentBox {
  background: white;
  padding: 0em 2em;
}

.github {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

/*********************************************************
 * Sortable table
 ********************************************************/

table.tablesorter thead tr .header {
	cursor: pointer;
  i {
    color: #ccc;
    }
}

table.tablesorter thead tr .headerSortUp i {
	// color: @link-color;
}

table.tablesorter thead tr .headerSortDown i {
	// color: @link-color;
}

.table th, .table td {
  // border-color: @border-color;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  // background-color: @base-veryLight;
}
