<div class="upload_box" style="display: table;">
    <div style="position: absolute;">
        <div class="upload_box_delete" style="position: absolute;">
            <%= linkDelete %>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="upload_box_header" style="display:table-cell;">
            <%= linkImage %>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="upload_box_footer" style="display: table-cell;">
            <%= linkInsert %>
        </div>
    </div>
</div>
