<form action="<%= url %>" method="post" class="dropbox" target="uploadIFrame"
      enctype="multipart/form-data">
    <div class="upload_box_header">
        <div class="upload-layer">
        </div>
        <div class="upload-drag-indicator">
            <i class="icon-upload"></i>
        </div>
        <h2> <%- $.i18n.__('upload_new_title') %></h2>
        <p>
            <%- $.i18n.__('upload_info', {size: upload_size}) %>
        </p>
    </div>
    <div class="l-box-footer box-footer-form upload_box_footer">
        <div style="position: relative;">
            <%
            // To present a nice upload button we generate a dead button.
            // Beneath the nice dummy button is the actual input file upload,
            // but it's hidden behind the opacity:0 curtain div.
            // z-index: 2000 to have the button above the jQuery UI modal.
            %>
            <button class="btn btn-submit" type="button">
                <%- $.i18n.__("upload_btn") %>
            </button>
            <div style="position: absolute; z-index: 2000; top:0; right: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; overflow: hidden; " >
                <input id="Upload0File"
                       class="btn btn-submit"
                       type="file" name="data[Upload][0][file]"
                       style="width: 150px; height: 100%">
            </div>
        </div>
    </div>
</form>
<iframe id="uploadIFrame" name="uploadIFrame" src="about:blank" style="display: none;">
    <html><head></head><body></body></html>
</iframe>
