@import "../partials/_saito_base";

html, body {
	min-width: 1px;
}

#upload_index {
	width: 815px;
	height: 90%;

	form, input[type=file] {
		width: auto;
		margin: 0;
		padding: 0;
	}

	.header{
	}

	.content {
		margin: 5px 15px;
	}

	h2 {
		margin-bottom: 2px;
		font-size: 110%;
	}
}

.upload_box {
	border: 1px solid $macnemo_gray_dark;
	@include border-radius($corner_radius);
	float: left;
	margin: 12px;
	width: 170px;
	height: 190px;
	background: none;
}

.upload_box_header {
	height: 155px;
	text-align: center;
	vertical-align: middle;
	
	img {
		border: 1px solid $macnemo_gray_dark;
		padding: 4px;
		@include border-radius($corner_radius);
		background: white;
	}
}

.upload_box_delete {
	top: -11px;
	left: -11px;
}

.upload_box_footer {
	height: 35px;
	background: white;
	border-top: 1px solid $macnemo_gray_dark;
	text-align: center;
	vertical-align: middle;
	@include border-bottom-right-radius($corner_radius);
	@include border-bottom-left-radius($corner_radius);
}

.upload_box_image {
	max-width: 142px;
	max-height: 142px;
}
