// simple search
// -------------------------------------
.searchForm-wrapper {
  margin-bottom: 20px;
}

.searchForm {
  $simple-search-height: 38px;

  display: table;
  width: 100%;
  vertical-align: middle;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .search_form > div {
    // puts textbox next to button
    overflow: hidden;
  }

  #search_fulltext_textfield {
    height: $simple-search-height;
  }

  .btn_search_submit {
    // puts button next to search field
    float: right;

    white-space: nowrap;
    margin-left: 1em;
    height: $simple-search-height;
  }
}

