/* v0.1 */
@import "compass/reset"; 
@import "compass/utilities/sprites";
@import "compass/utilities/links";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

/*$experimental-support-for-mozilla: false;*/
/*$experimental-support-for-webkit: true;*/
/*$experimental-support-for-opera: false;
/*$experimental-support-for-microsoft: false;*/
$experimental-support-for-khtml: false;

/*** setup blueprint ***/
// This import applies a global reset to any page that imports this stylesheet.
// schlaefer: deactivated, we already use compass/reset
// @import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

form.bp { @include blueprint-form; }

/*** set base parameters ***/

$corner_radius: 6px;
$border_width: 1px;
$background_image: 'bubbles_outer.png';
$padding: 10px;

/*** Standardset ***/
$macnemo_base_very_light: #FEFFD1;
$macnemo_base: #F7F7AA;
$macnemo_base_light: #F7F7AA;
$macnemo_base_dark: #FEC853;
$macnemo_accent_light: $macnemo_base ;
$macnemo_accent_dark: $macnemo_base_dark;
$macnemo_accent2_light: #9acd32; /* light green */
$macnemo_accent2_dark: #55741c;
$macnemo_border: $macnemo_accent2_light;
$macnemo_gray_light: #FAFAFA;
$macnemo_gray_dark: #E0E0E0;
$macnemo_body_background: #f8f8f8; 
$macnemo_info_text: #6f6f6f; /* light grey */ 
$link_color: #a60202;

$layout_min_width: 950px;