$error_background: #a60202;
$error_color: white;

/*** flash messages start ***/
div.flash, div.message {
	clear: both;
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	margin: 0px 0px 1em;
	padding: 0.4em;
	color: white;
	@extend .c_all-radius;
  @include box-shadow(rgba(255, 255, 255 ,0.6) 0px 1px 1px, rgba(255, 255, 255 ,0.6) 0px -1px 1px, rgba(0,0,0,0.7) 0px 1px 5px inset);
	text-shadow: hsla(0, 0%, 0%, 0.3) 0px -1px 1px;
	background-image: image_url("error_dots.png");
}

div.flash.error {
		font-family: Courier, monospace;
		background-color: $error_background;
		color: $error_color;
	}

div.flash.warning {
		background-color: $macnemo_base_dark;
}

div.flash.notice {
		background-color: $macnemo_accent2_light;
}
/*** flash messages end ***/

/*** validation messages start ***/
div.error-message, .message {

	padding: 5px;

	/* einziehen Zunge Fehlermeldungen */
/*	padding-top: 5px + $corner_radius;*/
/*	margin-top: -1 * $corner_radius;*/

	background-color: $error_background;
	color: $error_color;
	@extend .c_bottom-radius;
  background-image: image_url("error_dots.png");
	text-shadow: #595959 0px -1px 1px;
}

/*** validation messages end ***/