html, body {
  height: 100%;
	}

body {
  min-width: $layout_min_width;
}

// container arround flash messages
#l-flash-container {
	/* make left/right same value as #content margin */
  margin: 10px 20px; }

/*******************************************************************************
 * Susy
 ******************************************************************************/

$total-columns  : 12;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

.bp_container {
    @include container;

    /*
	@include container;
	// backport from original blueprint framework:
	// clears out all column floats from last container
	// for using more than one
	overflow: visible;
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; }
	*/
    // margin: inherit;
    // max-width: 100%;
	}

.bp-threeColumn {
    @extend .bp_container;

    .left {
        @include span-columns(4, 12);
    }
    .center {
        @include span-columns(4, 12);
    }
    .right {
        @include span-columns(4 omega, 12);
    }
}

.l-postingform_main {
    max-width: 60em;
    margin: 0 auto;
    .checkbox {
        white-space: nowrap;
    }
}

  @mixin c_t_h_3_abs($height: 24px, $padding: 5px) {
	height: $height;

	h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

	& > div {
		position: relative;
	}
	& > div > div {
		line-height: $height - ( 2 * $padding);
		padding: $padding 0;
		text-align: center;
		white-space: nowrap;
    vertical-align: middle;
		}
	& > div > div:first-child {
		position: absolute;
		}
	// CSS2 :last_child for
	// & > div > div:last-child  {
	& > div > .c_last_child  {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		}
	}

.c_t_h_3_tbl {
	display: table;
	width: 100%;

	& > div {
		display: table-row;
		}
	& > div > div {
		display: table-cell;
		white-space: nowrap;
		width: 100%;
		vertical-align: middle;
		text-align: center;
		}
	& .c_first_child {
		width: auto;
		text-align: left;
		}
	& .c_last_child {
		width: auto;
		text-align: right;
		}
	}

