/*******************************************************************************
 * Template Layout
 ******************************************************************************/

.l-top {
  position: relative; // for position ing subelements in header
  }

.l-top-right {
  position: absolute;
  right: 0px;
  text-align: right;
  }

.l-top-spnsr, .l-top-left, .l-top {
  height: 70px;
  }

.l-top-spnsr, .l-top-left {
  float: left;
  }

.l-top-spnsr {
  width: 80px;
  }

.l-top-left, .l-top-right {
  margin: 0;
  padding-right: $padding-content;
  }

.l-top-right {
  padding-top: 15px;
  }

.l-top-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-menu {
  padding: 2px 1em;
  font-size: 10px;
  line-height: 12px;
  border-width: $border_width 0 0 $border_width;
  }

.top-search > form {
  height: 26px;
  font-size: 12px;
}

.navbar {
	padding: 0 $padding-content;
  border-width: 1px 0 1px 0;
  }

#topnav, #bottomnav {
	@include c_t_h_3_abs($navbar-height);
	}


#content {
  padding: $padding-content $padding-content $padding-content+$navbar-height ;
	}

#footer-pinned {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.l-disclaimer {
  margin: 0 auto;
  }
