/*******************************************************************************
 * Mobile
 ******************************************************************************/

@media  only screen and (max-width: 480px),
        only screen and (device-width: 768px) {

  .mobile-nl {
    display: block;
    }
  .mobile-hide {
    display: none;
    }

  }

/*******************************************************************************
* Phone
******************************************************************************/

@media only screen and (max-width: 480px) {

	.thread_tools {
		-webkit-text-size-adjust: 150%;
		}

	.thread_line, .thread_line-pre {
		-webkit-text-size-adjust: 180%;
		}
	}

/******************************************************************************/

/*******************************************************************************
* iPad
******************************************************************************/

@media only screen and (device-width: 768px) {

	.thread_line-pre, .thread_line-content {
		-webkit-text-size-adjust: 120%;
	}

	.a_a {
		-webkit-text-size-adjust: 110%;
	}


}

@media only screen and (device-width: 768px) and (orientation:portrait) {
	body,html {
		width: 768px;
		min-width: 768px;
	}

	.postingform_main {
		width: 490px;
	}
}
@media only screen and (device-width: 768px) and (orientation:landscape) {
	body,html {
/* don't touch it! */
/*		width: 980px;*/
/*		min-width: 980px;*/
	}
}

/******************************************************************************/