.loading_indicator {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  display: none; }

.spinner {
  &:after {
    content: "";
    background: inline-image("loading_indicator.gif") top center no-repeat;
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px auto; } }


/* eye-catching links ( with red triangle) */
a.textlink {
  @include link-colors($link_color);
  text-decoration: none;
  font-weight: bold;
  }

a.no-color {
 	@include link-colors($saito-gray);
}

.info_text {
  color: $saito_info_text;
	}

.small {
	font-size: 90%;
	}

.c_info_text {
	@extend .info_text;
	@extend .small;
	}

.super {
  font-size: 0.83em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.2em; }

.nowrap {
	white-space: nowrap;
	}

// text shadow
.t_shadow {
	text-shadow: white 0px 1px;
}

.pointer:hover {
  cursor: pointer; }

.clearfix {
  clear: both;
  @include clearfix;
  }

.highlight {
  background-color: #ffff99;
  }

/** entry/thread_line end ** */

.entry.index {
  margin-top: -10px;
  }

/** entry/view ** */
#entry_view, #entry_mix {
  .a_a_a {
    padding: 10px 10px 15px 10px; }

	.c_a_a_b {
		@extend .c_t_h_3_tbl;
		height: 45px;

	& > div > div {
		border-style: solid;
		border-color: $saito_gray_dark;
		padding: 0 20px;
		}

	.c_a_a_b_a {
		border-width: $border_width $border_width 0 0;
		border-top-right-radius:$corner_radius;
		}

	.c_a_a_b_c {
		border-width: $border_width 0 0 $border_width;
		border-top-left-radius:$corner_radius; }
		}

	.a { margin-bottom: 10px;
	}

  .b {
    padding: 10px;
    .tree_thread {
			@include box-shadow(0 0 0);
      border: none;
      background: none;
      padding: 0;
      margin: 0; }
    }
  }