/*******************************************************************************
 * Messages Setup
 ******************************************************************************/

// Setup
// -------------------------------------
$color-flashNoticeBg:   #333;
$color-flashSuccessBg:   #9ACD32;
$color-flashWarningBg:  #FFB800;
$color-flashErrorBg:    #a60202;

// Flash Messages
// -------------------------------------

@mixin flash-colors($color, $border-width) {
  border: $border-width ($color / 1.2) solid;
  background-color: $color;
  @include background(
      linear-gradient(
        top,
          $color * 1.1,
          $color / 1.1
      ),
      $color
  );
}

.flash, .message {
	clear: both;
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	margin: 0px 0px 1em;
	padding: 0.4em;
	color: white;
    @extend .box-shadow;
	text-shadow: hsla(0, 0%, 0%, 0.3) 0px -1px 1px;
    background-color: $color-flashErrorBg;
    border: $border_width ($color-flashErrorBg / 1.2) solid;
  }

.flash-error {
  @include flash-colors($color-flashErrorBg, $border_width);
  }

.flash-warning {
  @include flash-colors($color-flashWarningBg, $border_width);
  }

.flash-notice {
  @include flash-colors($color-flashNoticeBg, $border_width);
  }

.flash-success {
  @include flash-colors($color-flashSuccessBg, $border_width);
}

// humane.js animation css
// -------------------------------------

.humane,
.humane-jackedup {
  position: fixed;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.humane,
.humane-jackedup {
  top: 20px;
  left: 30%;
  opacity: 0;
  width: 40%;
  padding: 10px;
  text-align: center;
  -moz-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
}

.humane-animate,
.humane-jackedup.humane-jackedup-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane-animate:hover,
.humane-jackedup.humane-jackedup-animate:hover {
  opacity: 0.7;
}
.humane-js-animate,
.humane-jackedup.humane-jackedup-js-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane-js-animate:hover,
.humane-jackedup.humane-jackedup-js-animate:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

// Validation messaeges
// -------------------------------------

.error-message, .message {
	padding: 5px;

	/* einziehen Zunge Fehlermeldungen */
  /*	padding-top: 5px + $corner_radius;*/
  /*	margin-top: -1 * $corner_radius;*/

	background-color: $color-flashErrorBg;
	color: white;
	text-shadow: #595959 0px -1px 1px;
}

.no-content-yet {
		margin: 1em auto;
		font-weight: bold;
		width: 100%;
		text-align: center;
		font-size: 35px;
		color: #DDD;
		letter-spacing: 0.1em;
		word-spacing: 0.1em;
	}


