/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

$markitup-buttonWidth: 32px;
$markitup-buttonHeight: 32px;

.markItUpHeader > ul a {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: $markitup-buttonHeight;

  > i {
    line-height: inherit;
    }
  }
.markItUpHeader ul a:hover {
  text-shadow: 0 0 1px #999;
  }

// bold
//.markItUp .markItUpButton1 a	{ background: image_url('markitup/spr_toolbar.png') 0px 0px no-repeat; }
//.markItUp .markItUpButton1 a img	{ box-shadow: 0 0 3px 2px #a3e2f5; }
//.markItUp .markItUpButton1 a:hover	{ background-position: -32px 0px; }

// italic
//.markItUp .markItUpButton2 a	{  background: image_url('markitup/spr_toolbar.png') 0px -96px no-repeat; }
//.markItUp .markItUpButton2 a:hover	{  background-position: -32px -96px; }

// underline
//.markItUp .markItUpButton3 a	{ background: image_url('markitup/spr_toolbar.png') 0px -224px no-repeat; }
//.markItUp .markItUpButton3 a:hover	{ background-position: -32px -224px; }

// stroke
//.markItUp .markItUpButton4 a	{ background: image_url('markitup/spr_toolbar.png') 0px -192px no-repeat; }
//.markItUp .markItUpButton4 a:hover	{ background-position: -32px -192px; }

// code
//.markItUp .markItUpButton5 a	{ background: image_url('markitup/spr_toolbar.png') 0px -32px no-repeat; }
//.markItUp .markItUpButton5 a:hover	{ background-position: -32px -32px; }

// bullet list
//.markItUp .markItUpButton6 a	{ background: image_url('markitup/spr_toolbar.png') 0px -416px no-repeat; }
//.markItUp .markItUpButton6 a:hover	{ background-position: -32px -416px; }

// link
//.markItUp .markItUpButton7 a	{ background: image_url('markitup/spr_toolbar.png') 0px -128px no-repeat; }
//.markItUp .markItUpButton7 a:hover	{ background-position: -32px -128px; }

// picture
//.markItUp .markItUpButton8 a	{ background: image_url('markitup/spr_toolbar.png') 0px -160px no-repeat; }
//.markItUp .markItUpButton8 a:hover	{ background-position: -32px -160px; }

// upload
//.markItUp .markItUpButton9 a	{ background: image_url('markitup/spr_toolbar.png') 0px -256px no-repeat; }
//.markItUp .markItUpButton9 a:hover	{ background-position: -32px -256px; }

// video
//.markItUp .markItUpButton10 a	{ background: image_url('markitup/spr_toolbar.png') 0px -288px no-repeat; }
//.markItUp .markItUpButton10 a:hover	{ background-position: -32px -288px; }

.markItUp .btn-markItUp-Smilies {
    ul {
        width: 260px;
        z-index: 1;
        margin: -21px 0 0 -2px;
        li {
            min-width: 0px;
            margin: 0px;
            a {
                background-position: 9px 9px;
                height: 32px;
                width: 32px;
                padding: 0px;
            }
        }
    }

    > a {
        background: image_url('markitup/spr_toolbar.png') 0px -384px no-repeat;
        text-indent: -10000px;
    }
}

.markItUp .markItUpHeader ul ul li { float: left; border: none; }
.markItUp .markItUpHeader ul ul li:active { background-color: #eee; }

// The smiley CSS is generated dynamicaly in entry_h helper function
//.markItUp .markItUpButton13-1 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/smile.png); }
//.markItUp .markItUpButton13-2 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/wink.png); }
//.markItUp .markItUpButton13-3 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/tongue.png); }
//.markItUp .markItUpButton13-4 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/grin.png); }
//.markItUp .markItUpButton13-5 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/blushing.png); }
//.markItUp .markItUpButton13-6 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/gasp.png); }
//.markItUp .markItUpButton13-7 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/frown.png); }
//.markItUp .markItUpButton13-8 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/crying.png); }
//.markItUp .markItUpButton13-9 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/moneymouth.png); }
//.markItUp .markItUpButton13-10 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/evil.png); }
//.markItUp .markItUpButton13-11 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/kiss.png); }
//.markItUp .markItUpButton13-12 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/innocent.png); }
//.markItUp .markItUpButton13-13 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/oops.png); }
//.markItUp .markItUpButton13-14 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/lipsaresealed.png); }
//.markItUp .markItUpButton13-15 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/sleeping.png); }
//.markItUp .markItUpButton13-16 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/cool.png); }
//.markItUp .markItUpButton13-17 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/embarrassed.png); }
//.markItUp .markItUpButton13-18 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/grinning-wink.png); }
//.markItUp .markItUpButton13-19 a	{ background-image:url(../../../../../theme/macnemo/img/smilies/shouting.png); }

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}

// Saito markitup code
// -------------------------------------
.c_markitup_label {
	padding: 0.5em;
}
form .c_markitup_popup_txta {
	width: 96%;
	padding: 2%;
}

/* -------------------------------------------------------------------*
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp {
	outline:none;
}

.markItUpHeader {
  background: $saito_gray_dark;
  @extend .box-shadow-inset;
}

.markItUpHeader ul:after  {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.markItUp a:link,
.markItUp a:visited {
	color:#333;
	text-decoration:none;
}

.markItUpContainer  {
  border: 1px solid $saito_gray_input_border;
  background: white;
  @extend .box-shadow-inset;
}

.markItUpEditor {
  box-shadow: none;
  border: none;
	clear:both; display:block;
	overflow:auto;
	height: 16em;
  background: none;
}
.markItUpPreviewFrame	{
	@extend textarea;
	overflow:auto;
	background-color:#FFF;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
  display: none;
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image: image_url('markitup/handle.png');
	cursor:n-resize;
}
/******************************************************************************/

/* first row of buttons */
.markItUpHeader ul, .markItUpHeader li {
	padding: 0;
	margin: 0;
}

.markItUpHeader ul li	{
	min-width: $markitup-buttonWidth;
	height: $markitup-buttonHeight;

	margin: 3px;

	list-style:none;
	float:left;
	position:relative;
}

.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
/*	background:transparent image_url('markitup/menu.png') no-repeat 100% 70%;*/
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;
	background:#FFF;
	border:1px solid #000;
	@extend .c_all-radius;
  @extend .box-shadow;
	border: $border_width solid $saito_gray_dark;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF image_url('markitup/submenu.png') no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
  min-width: 1px;
	margin:0 10px;
	width:1px;
	height:32px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

.markItUpHeader ul a {
	display:block;
	min-width:$markitup-buttonWidth;
  height:$markitup-buttonHeight;
	/*text-indent:-10000px;*/
	background-repeat:no-repeat;
	padding:0px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px;
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
}
