.search_form {
    position: relative;
}

.search_form input {
    margin: 0;
    padding: 0 0.5em;
}

.search_form > div {
    overflow: hidden;
    position: relative;
    height: 100%;
    padding: 0;
}

.search_textfield, .btn_search_header {
    color: #222222;
    background-color: white;
    border: 1px solid #a8a8a8;
}

.search_textfield {
    @extend .c_left-radius;
    top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-border-right: 0;

    height: 22px;
    width: 100%;

    &:focus {
        outline-width: 0;
    }
}

.btn_search_submit {
    @extend .c_right-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    cursor: pointer;
}

.btn_search_header {
    width: 24px;
    height: 24px;
    border-left: none;
    @extend .box-shadow-inset;
    margin-left: -1px !important;
    // looks nicer in FF
    padding-bottom: 1px;
}

.search_textfield_header {
    margin-right: -1px !important;
}

// entry_search
// -------------------------------------
#entry_search {
    .search_form_wrapper {
        display: table;
        width: 100%;
        margin-bottom: 20px;
        vertical-align: middle;

        input {
            font-size: 20px;
        }
    }

    .search_form_wrapper_adv {
        margin-bottom: 20px;
    }

    .search_form_wrapper > div {
        display: table-cell;
        padding: 0 5px;
        vertical-align: middle;
    }

    form {
        width: 100%;
    }

    .search_results {

        .content {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0.2em 0;
                }
            }
        }
    }
}
