/*******************************************************************************
 * Tables
 ******************************************************************************/

.table {
    width: 100%;
}

.table td, .table th, .table-padding {
    padding: $padding;
}

// elegant
// -------------------------------------
.table.th-left.elegant td:first-child {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    width: 38%;
}

// table-zebra
// -------------------------------------
.table-zebra {
    > tbody > tr:hover {
        @extend .highlight-hover;
    }
    > tbody > tr.b {
        background-color: $saito_gray_light;
    }
}

// table-clean
// -------------------------------------
.table-clean th, .table-clean-th-extend {
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 0;
    font-weight: bold;
}

// Bookmarks table
// -------------------------------------
.l-bookmarks-container {
    overflow: hidden;
}

.l-bookmarks-row {
    white-space: nowrap;
}

.l-bookmarks-cell {
    display: inline-table;
    vertical-align: middle;
    white-space: normal;
}

.bookmarks-cell {
    @extend .table-padding;
}

.bookmarks-row-header {
    @extend .table-clean-th-extend;
}