/*******************************************************************************
 * Tables
 ******************************************************************************/

.table {
    width: 100%;
}

.table td, .table th, .table-padding {
    padding: $padding;
}

.table-menu {
  float: right;

  .asc, .desc {
    font-weight: bold;
  }

  .asc:after {
    content: "\002005\002193\002005";
  }

  .desc:after {
    content: "\002005\002191\002005";
  }
}

// th-left
// -------------------------------------
.table.th-left {
  td:first-child {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    width: 38%;
  }

  &.row-sep {
    border-spacing: 0 2*$padding;
    border-collapse: separate;
  }
}

// table-clean
// -------------------------------------
.table-clean th, .table-clean-th-extend {
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 0;
    font-weight: bold;
}

// Bookmarks table
// -------------------------------------
.l-bookmarks-container {
    overflow: hidden;
}

.l-bookmarks-row {
    white-space: nowrap;
}

.l-bookmarks-cell {
    display: inline-table;
    vertical-align: middle;
    white-space: normal;
}

.bookmarks-cell {
    @extend .table-padding;
}

.bookmarks-row-header {
    @extend .table-clean-th-extend;
}