/*******************************************************************************
 * Threads
 ******************************************************************************/

$subthread-margin: 25px !default;

// thread and reply links
// -------------------------------------
/* dont forget to change the userpref css in user_h.php if you do changes here */
li.thread .span_post_type, li.reply .span_post_type {
  @include link-colors($thread_color_normal);
  font-weight: bold; }

/* new threads and replies: */
li.threadnew .span_post_type, li.replynew .span_post_type {
  @include link-colors($thread_color_new);
  font-weight: bold; }

li.actthread .span_post_type, li.actreply .span_post_type {
  @include link-colors($thread_color_actual);
  font-weight: bold; }

// thread tree
// -------------------------------------
ul.thread, ul.threadnew {
  list-style-type: none;
  margin: 0px 0px 18px 0px;
  list-style-type: none; }

ul.reply, ul.replynew {
  list-style-type: none;
  margin: 0 0 0 $subthread-margin;
  list-style-type: none; }

ul.deep-reply {
  margin: 0px;
  list-style-type: none; }

/*******************************************************************************
 * Entry thread_line
 ******************************************************************************/

.thread_line-pre {
	position: absolute;
	vertical-align: text-top;
	height: 19px;
	> a {
		display: inline-block;
		width: 30px;
		text-align: center;
		}
	}

.thread_line-content {
	padding-left: 25px;
	display: block;
  word-break: break-word;
	&:hover{
		background: #F0F0F0;
		}
	}

.thread_line-username {
	font-weight: 600;
	}

.thread_line-post {
		@extend .c_info_text;
		font-weight: normal;
}

/* thread_slider */
.t_s {
  /* 20 px left because of huge, vertical close button */
  margin: 5px 5px 5px 20px;
  border: $border_width $saito_gray_dark solid;
	@extend .c_all-radius;
  /* user_list und inline view sollen sauber getrennt bleiben */
  overflow: hidden; }


.tree_thread {
  @extend .box-content;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
  .img_pencil {
    visibility: hidden; }
  ul:first-child {
    margin-left: $subthread-margin; } }

ul.thread {
  margin: 0 !important; }

.thread_box {
  /* user_list und inline view sollen sauber getrennt bleiben */
  /*	overflow: hidden; */
	}

.thread_tools {
	font-size: 90%;
	}
.btn-thread_tools {
	display: inline-block;
	padding: 5px 0.7em 2px;
	word-spacing: 0;
	}

.btn-threadCollapse {
	position: absolute;
	width: 30px;
	text-align: center;
	}

.thread_inline {
  display: none;
  position: relative;
  margin: 4px 0;
  .btn_back_l, .btn_top_l {
    float: left; }
  /* otherwise link is slidetabs not clickable if inline with is open */
  /*	overflow: hidden; */ }

