#markitup_upload {

  // smooth/single finger scrolling in mobile WebKit in subview
  -webkit-overflow-scrolling: touch;
}

#upload_index {

	form, input[type=file] {
		width: auto;
		margin: 0;
		padding: 0;
	}

	.content {
        text-align: center;
	}

	h2 {
		margin-bottom: 2px;
		font-size: 110%;
	}

    $width: 170px;
    $topHeight: 140px;
    $bottomHeight: 40px;
    $local-padding: 5px;

    .upload_box {
      border: 1px solid $saito_gray_dark;
      @include border-radius($corner_radius);
      margin: 12px;
      width: $width;
      height: $topHeight + $bottomHeight;
      position: relative;
      display: inline-block;
    }

    .upload_box_header {
      position: relative;
      height: $topHeight - (2 * $local-padding);
      width: $width - (2 * $local-padding);
      padding: $local-padding;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .upload_box_image {
      max-width: 140px;
      max-height: 110px;

      border: 1px solid $saito_gray_dark;
      padding: 4px;
      @include border-radius($corner_radius);
      background: white;
    }

    .upload_box_delete {
      position: absolute;
      z-index: 10;
      bottom: 8px;
      right: 5px;
      font-size: 16px;
    }

    .upload_box_footer {
      text-align: center;
      line-height: $bottomHeight - (2 * $local-padding) - 5px;
      height: $bottomHeight - (2 * $local-padding) - 1px;
      padding: $local-padding !important;
    }

    .upload-drag-indicator, .upload-layer {
      top: 0;
      left: 0;
      position: absolute;
      width: $width;
      height: $topHeight;
    }

    .upload-layer {
        z-index: 100;
        opacity: 0;
    }

    .upload-drag-indicator {
      background: #ffffff;
      opacity: 0.9;
      font-size: $topHeight/2;
      line-height: $topHeight;
      display: none;
    }
}

