html, body {
	min-width: 1px;
}

#markitup_upload {
  -webkit-overflow-scrolling: touch;
}

#upload_index {

	form, input[type=file] {
		width: auto;
		margin: 0;
		padding: 0;
	}

	.header{
	}

	.content {
        text-align: center;
	}

	h2 {
		margin-bottom: 2px;
		font-size: 110%;
	}

    a {
      color: inherit;
    }
}

.upload_box {
	border: 1px solid $saito_gray_dark;
	@include border-radius($corner_radius);
	margin: 12px;
	width: 170px;
	height: 208px;
	background: none;
    position: relative;
    display: inline-block;
}

.upload_box_header {
	height: 155px;
	text-align: center;
	vertical-align: middle;
	
	img {
		border: 1px solid $saito_gray_dark;
		padding: 4px;
		@include border-radius($corner_radius);
		background: white;
	}
}

.upload_box_delete {
	top: -11px;
	left: -11px;
}

.upload_box_footer {
	text-align: center;
    height: 30px;
    vertical-align: middle;
}

.upload_box_image {
	max-width: 142px;
	max-height: 142px;
}
