/*******************************************************************************
 * View Posting
 ******************************************************************************/

.postingheadline {
  margin-bottom: 2px;
  font-size: 1.25em;
  font-weight: bold;
  line-height: normal;
  }

.posting, .posting img, posting, object, posting embed, .signature {
  max-width: 80em;
  }

.author {
  @extend .info_text;
  margin: 1px 0 1em 0;
  line-height: 1.4;
  }

.signature {
  margin-top: 1em;
  }

/* BBCode
// ------------------------------------- */
.c_bbc_code-wrapper {
  background-color: #f9f9f9;
  padding: 4px; }

.code {
  @extend code;
  }

.c_bbc_underline {
  @extend u;
}

.c_bbc_link-dinfo, .c_bbc_imessage {
	@extend .info_text;

  font-weight: normal;
  font-style: normal;
  text-decoration: none;
	}

.c_bbc_imessage {
	font-style: italic;
}

.c_bbc_upload, .c_bbc_external-image {
	margin: 5px 0;
	}

.c_bbc_citation {
  color: $saito_info_text;
  font-style: italic; }

.c_bbc_ul {
  margin: 0em 2em;
  padding: 0;
  list-style-image: image-url("bbcode_list_image.png"); }

.c_bbc_li {
  margin: 0.5em 0;
  padding: 0; }

.c_bbc_hr {
  margin-left: 0.5em;
  width: 10em;
  display: inline-block;
}


/** geshi */
.code {
  padding: 1em; }

.code ol {
  list-style: decimal;
  list-style-position: inside; }

.geshi-plain-text {
  font-size: smaller; }

/* see also app/config/geshi.php for zebra colors */

