@import "../partials/_saito_base";

/*** entry_search start ***/
#entry_search {
	.search_form_wrapper {
		display: table; 
		width: 100%; 
		margin-bottom: 20px;
	  vertical-align: middle;	

		form {
			font-size: 20px;
		}
	}

	.search_form_wrapper_adv {
		@extend .box_style_2;
		@extend .box_layout_1;
		margin-bottom: 20px;
	}

	.search_form_wrapper > div {
		display: table-cell; 
		padding: 0 5px;
	  vertical-align: middle;	
	}

	form {
		width: 100%;
	}

	.search_results {
		@extend .box_style_1;

		.header {
			@extend .box_layout_1;
			@extend header_style_1;
		}

		.content {
			@extend .box_layout_1;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0.2em 0;
				}
			}
		}
	}
}

/*** entry_search end ***/