body, ul { margin: 0; padding: 0; }

ul { list-style: none; }

html, body { height: 100%; }

html { font-size: 62.5%; }

code, .code, pre, tt { line-height: inherit; font-family: courier-new, courier, monospace; }

ins { text-decoration: inherit; }

.c-bbcode-ul, .staticPage ul { margin-top: 1em; padding-left: 0; list-style-type: none; position: relative; }

.c-bbcode-li:before, .staticPage li:before { content: "\2022"; display: block; position: absolute; left: -1em; }

body, .btnLink, .btn-submit, textarea, input[type=text], input[type=password] { font-family: Cabin; color: #f7e7d2; font-weight: 400; background-color: #28282b; }

body { font-size: 1.4em; }

.postingBody-heading, .postingform .subject { font-family: 'Fenix', Serif; text-rendering: optimizeLegibility; }

input, textarea { font-size: 1em; padding: 0.5em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline-color: #ffcc00; }

body, h1, h2, h3, h4 { line-height: 1.5em; }

h1, h2, h3, h4, #hero-home-link { font-size: 1.35em; }

h4 { font-size: 1em; }

.btnLink, .btn-submit { border: none; background: none; margin: 0; padding: 0; cursor: pointer; line-height: inherit; font-size: 1em; -webkit-appearance: none; }

.ui-dialog-titlebar-close:active, .ui-dialog-titlebar-close:focus, .btnLink:active, .btn-submit:active, .btnLink:focus, .btn-submit:focus { outline: none; }

a, .btnLink, .btn-submit { color: inherit; text-decoration: inherit; cursor: inherit; color: #ffcc00; cursor: pointer; }
a:active, a:focus, .btnLink:active, .btn-submit:active, .btnLink:focus, .btn-submit:focus { outline: none; }

u, .c-bbcode-underline { text-decoration: underline; }

hr { border-width: 0; border-bottom: 1px solid #4d3d00; }

#site-header { text-align: center; }

body.headerClosed .top-menu { display: none; }
body.headerClosed header { margin-left: -2em; margin-right: -2em; position: -webkit-sticky; top: 0; z-index: 100; background: -moz-linear-gradient(bottom, rgba(40, 40, 43, 0.85), #28282b 90%); background: -webkit-linear-gradient(bottom, rgba(40, 40, 43, 0.85), #28282b 90%); background: linear-gradient(to top, rgba(40, 40, 43, 0.85), #28282b 90%); }
body.headerClosed #js-top-menu-open { display: block; line-height: 40px; padding: 0 2em; }
body.headerClosed #hero-home-link { padding-top: 0.5em; padding-bottom: 0.5em; }

#hero { position: relative; border-bottom: 1px solid #4d3d00; }

#hero-home-link { font-weight: bold; padding: 1em; }

#js-top-menu-open { position: absolute; bottom: 0; right: 0; display: none; }

.top-menu { border-bottom: 1px solid #4d3d00; position: relative; }
.top-menu .saito-icon-text { display: none; }
@media (min-width: 600px) { .top-menu .saito-icon-text { display: inline; } }

.top-menu-item { padding: 0.5em; display: inline-block; }
@media (min-width: 600px) { .top-menu-item { padding: 1em; } }

.top-menu-aside { position: absolute; right: 0; }

.navbar { margin: 1em 0; }
.navbar .saito-icon-text { display: none; }
@media (min-width: 600px) { .navbar .saito-icon-text { display: inline; } }
.navbar .paginator { margin-left: 1em; }

.navbar .pageHeading, .navbar .panel-heading h1, .panel-heading .navbar h1, .navbar .panel-heading h2, .panel-heading .navbar h2 { margin: 0; }

.navbar-item { padding: 0 1em; }
.navbar-item.left { padding-left: 0; }
.navbar-item.right { padding-right: 0; }

.heading-3 { height: 24px; position: relative; }
.heading-3 h1, .heading-3 h2, .heading-3 h3 { margin: 0; padding: 0; }
.heading-3 > div { line-height: 24px; padding: 0px 0; text-align: center; white-space: nowrap; vertical-align: middle; }
.heading-3 > div:first-child { position: absolute; }
.heading-3 > div:last-child { position: absolute; top: 0; right: 0; text-align: right; }

.pageHeading, .panel-heading h1, .panel-heading h2, .ui-dialog-title { font-size: 1em; display: inline-block; font-weight: normal; margin: 0 auto; }
.pageHeading:after, .panel-heading h1:after, .panel-heading h2:after, .ui-dialog-title:after { content: ""; position: relative; border-bottom: 2px solid #4d3d00; height: 1px; display: block; }

#content { padding: 0 2em; }

#footer-pinned { position: absolute; bottom: 0; left: 0; right: 0; padding: 0 2em; }

.disclaimer { border-top: 1px solid #4d3d00; font-size: 0.85em; padding-bottom: 1em; }

#debugFooter { font-size: 12px; }

.infoText, .postingBody-signature, .threadLine-post, .c-bbcode-link-dinfo, .c-bbcode-edit, .postingBody-info, .disabled { color: #8c8276; }

.c-category { color: #f7e7d2; font-weight: normal; white-space: nowrap; }

.c-username { color: #f7e7d2; }

.postingBody-signature { font-size: 0.85em; text-align: center; }

.postingBody-signature-divider { padding-bottom: 1em; }

.solves-isSolved { color: #008000; }

.threadLine-content:hover { background: #4d3d00; }

.no-content-yet { font-weight: bold; text-align: center; font-size: 3em; color: #71685e; letter-spacing: 0.1em; word-spacing: 0.1em; padding: 1em 0; }

.ui-dialog, .flash-error > .alert, .flash-warning > .alert, .flash-notice > .alert, .flash-success > .alert { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }

.sort-menu .asc, .sort-menu .desc { font-weight: bold; }
.sort-menu .asc:after { content: "\002005\002193\002005"; }
.sort-menu .desc:after { content: "\002005\002191\002005"; }

.sort-menu-item { padding: 0 0.5em; }

.prev { margin-right: 0.5em; }

.next { margin-left: 0.5em; }

.panel { padding: 1em; }

.panel-heading { margin: 0 0 1em; }
.panel-heading.pageTitle { display: none; }

.panel-footer { padding: 1em 0; }
.panel-footer.panel-form { margin-top: 2em; padding: 0.3em 1em; }

.panel-form { background: #1e1e20; padding: 1em 1em; }

.panel-footer-form-btn { margin-right: 1em; }

.ui-dialog { background: #28282b; border-color: #4d3d00; }
.ui-dialog .ui-dialog-titlebar-close { left: 1em; }
.ui-dialog .jqueryUi-closethick-fix { color: #ffcc00; }
.ui-dialog > .ui-dialog-content { padding: 0; }
.ui-dialog > .ui-dialog-content > .panel { padding-top: 0; }

.spinner > div { background-color: #4d3d00 !important; }

.spinner { padding: 1em; }

.spinner { margin: 0 auto; width: 50px; height: 30px; text-align: center; font-size: 10px; }

.spinner > div { background-color: #333; height: 100%; width: 6px; display: inline-block; -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

.spinner .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

.spinner .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

.spinner .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay { 0%, 40%, 100% { -webkit-transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1); } }
@keyframes stretchdelay { 0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
  20% { transform: scaleY(1); -webkit-transform: scaleY(1); } }
.shp-show-btn { display: none; }
.shp-show-btn.is-active { display: inline-block; }

.shp-icon { margin: 0.5em; }

.category-chooser-ul { margin-bottom: 1em; }

.category-chooser-li { margin: 0.5em; }

.input { margin: 0 0 1em; }

textarea, input[type=text], input[type=password], .markItUp textarea { outline-style: none; border-style: none; width: 100%; background: #303035; border-left: 2px solid #ffcc00; -webkit-appearance: none; border-radius: 0; }

.required label:after { color: #ee3322; content: "\2217"; vertical-align: super; padding-right: 0.5em; }

.btn-submit { padding: 0em 0.8em; border-radius: 3px; background-color: #ffcc00; color: #28282b; }
.btn-submit[disabled=disabled] { opacity: 0.5; cursor: not-allowed; }

.btn-icon { padding-left: 0.5em; padding-right: 0.5em; }

.dropdown .dropdown-menu > li > a:hover { background-color: #ffcc00; color: #28282b; cursor: pointer; }

.btn-strip { cursor: pointer; height: 100%; position: absolute; }

.btn-strip-top { width: 25px; text-align: center; margin: 4px 0px 0px -1px; }

.btn-strip-back { width: 15px; background-color: #1e1e20; background-repeat: repeat-y; }
.btn-strip-back:active { background-color: #1e1e20; }
.btn-strip-back:before { font-family: 'FontAwesome'; content: '\f060'; font-size: 12px; width: 15px; text-align: center; display: block; position: absolute; top: 50%; }

#site { min-width: 400px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 100%; position: relative; padding: 0 2em 3em; max-width: 70em; margin: 0 auto; }

.bp-threeColumn { *zoom: 1; max-width: 60em; _width: 60em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
.bp-threeColumn:after { content: ""; display: table; clear: both; }
@media (min-width: 600px) { .bp-threeColumn .left { width: 32.98429%; float: left; margin-right: 0.52356%; }
  .bp-threeColumn .center { width: 32.98429%; float: left; margin-right: 0.52356%; }
  .bp-threeColumn .right { width: 32.98429%; float: right; margin-right: 0; } }

#slidetabs { float: right; position: relative; z-index: 5; margin-right: -2em; margin-left: 1em; background: #28282b; }

.slidetab { width: 28px; margin-bottom: 2em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 0.85em; float: right; clear: both; }
.slidetab h4 { margin: 0; }

.slidetab.is-open { width: 280px; }
.slidetab.is-open .slidetab-outer { display: block; }

.slidetab-outer { display: none; min-height: 40px; margin-left: 28px; padding: 1em 2em; border-left: 1px solid #4d3d00; }

.slidetab-tab { float: left; padding: 4px; width: 20px; height: 20px; position: relative; }

.slidetab-tab-button { color: #ffcc00; cursor: pointer; }

.slidetab-content { word-break: break-word; }

.slidetab-userlist-icon { display: inline-block; width: 1.1em; padding-left: 1em; }

#slidetabUserlist-counter { position: absolute; min-width: 6px; background: #111111; border: 1px solid white; padding: 0 1px; right: 0px; bottom: 0px; }

.slidetabUserlist-counter-inner { text-align: center; color: white; line-height: 12px; font-size: 8px; }

#shoutbox { word-wrap: break-word; }
#shoutbox img { max-width: 100%; }
#shoutbox .infoText, #shoutbox .postingBody-signature, #shoutbox .threadLine-post, #shoutbox .c-bbcode-link-dinfo, #shoutbox .c-bbcode-edit, #shoutbox .postingBody-info { text-align: center; }

.threadBox.ignored { display: none; }

.threadLeaf.ignored { opacity: 0; }

.mix .ignored .postingLayout { visibility: hidden; height: 1em; }

.threadTree-node { padding-left: 30px; }

.threadTree-node, .threadCollection-node { list-style: none; }
.threadTree-node.root, .threadCollection-node.root { margin: 0; padding: 0; }

.threadCollection-node .threadTree-node { padding-left: 0; }

.btn-threadCollapse { width: 28px; text-align: center; position: absolute; left: -4px; }

.threadBox { margin: 1em 0; }

.threadBox-body.panel { border: none; }

.threadBox-tools { padding-left: 2em; font-size: 0.85em; }

.threadBox .threadTree-node.root { padding-left: 20px; }

.btn-threadBox-tools { margin-right: 1em; }

.et-root .et, .et-reply .et { color: #ffcc00; }

.et-old .et { color: #f7e7d2; }

.et-current .et { color: #6ffa13; }

.threadLine-pre { float: left; text-align: center; width: 2em; max-height: 1.5em; }

.threadLine-content { word-wrap: break-word; display: block; padding-left: 2em; }
.threadLine-content .c-category { color: #f7e7d2; }

.threadLine-post { font-size: 0.85em; font-weight: normal; }

.threadInline-slider { overflow: hidden; margin-left: 25px; }

.entry.view .threadBox { border-top: 1px solid #4d3d00; }

.mixEntry { border-bottom: 1px solid #4d3d00; margin-bottom: 1em; }

.c-bbcode-citation { font-style: italic; color: #8c8276; }

.c-bbcode-code-wrapper { padding: 1em; }
.c-bbcode-code-wrapper ol { color: #333; background: #F0FCEF; }
.c-bbcode-code-wrapper ol li { padding-left: 0.5em; }

.c-bbcode-link-dinfo { font-size: 0.85em; }

.c-bbcode-upload, .c-bbcode-external-image { margin: 1em; text-align: center; }

.c-bbcode-hr { margin-left: 0.5em; width: 10em; display: inline-block; }

.c-bbcode-float { max-width: 50%; clear: both; float: left; margin: 1em; }

.c-bbcode-spoiler .c-bbcode-spoiler-link { color: black; background-color: black; text-shadow: none; word-break: break-word; }
.c-bbcode-spoiler .c-bbcode-spoiler-link:hover { color: inherit; background-color: inherit; text-shadow: inherit; }

.c-bbcode-edit { padding: 0 0.3em; }

.postingLayout { margin: 0 auto; max-width: 54em; }
.threadInline-slider .postingLayout { padding: 0 1em 1em; }
.threadInline-slider .postingLayout .postingBody-signature { display: none; }

.postingLayout-slider { display: none; }
.postingLayout-slider .postingform { border-top: 1px solid #4d3d00; }
.postingLayout-slider .preview { border-top: 1px solid #4d3d00; border-bottom: none; }

.postingBody-heading { margin-bottom: 2px; margin-top: 0; font-weight: normal; font-size: 1.485em; }
.threadInline-slider .postingBody-heading { font-size: 1.25em; }

.postingBody-info { margin-bottom: 1em; }
.postingBody-info > .meta { font-size: 0.85em; }

.postingBody-text { margin-bottom: 1em; word-wrap: break-word; }
.postingBody-text object, .postingBody-text embed, .postingBody-text video, .postingBody-text iframe, .postingBody-text img { max-width: 100%; }
.postingBody-text object, .postingBody-text embed, .postingBody-text video, .postingBody-text iframe, .postingBody-text .c-bbcode-external-image, .postingBody-text .c-bbcode-upload { display: block; margin: 0 auto; }
.postingBody-text:after { content: ''; display: block; clear: both; }

.postingBody-signature { margin-bottom: 1em; }
.postingBody-signature .c-bbcode-upload, .postingBody-signature .c-bbcode-external-image { margin: 0; }

.posting-badge-nsfw { padding: 0px 0.5em; font-size: 0.85em; vertical-align: top; }

.posting-badge-nsfw { color: #FFF; background-color: #F00; }

.postingform .subject { font-size: 1.2em; }
.postingform textarea, .postingform input[type=text] { padding-left: 10px; padding-right: 10px; }

.preview { display: none; margin-bottom: 1em; padding: 1em; border-bottom: 1px solid #4d3d00; }

.table.th-left { margin: 0 auto; border-collapse: collapse; width: 100%; }
.table.th-left th, .table.th-left td { padding: 1em 1em; text-align: left; vertical-align: top; }
.table.th-left td:first-child { font-weight: bold; text-align: right; width: 38%; border-right: 1px solid #4d3d00; }
.table.th-left.row-sep { border-spacing: 0 2em; border-collapse: separate; }
.table.th-left ul { margin: 0; padding: 0; list-style-type: none; }

.table-menu { float: right; }

.l-bookmarks-container { overflow: hidden; }

.l-bookmarks-row { white-space: nowrap; }

.l-bookmarks-cell { display: inline-table; vertical-align: middle; white-space: normal; min-width: 16px; box-sizing: border-box; }

.bookmarks-cell { padding: 1em; }

.markItUp { border: none; }
.markItUp .markItUpHeader > ul .markItUpSeparator { min-width: 1px; width: 1px; overflow: hidden; background-color: #ffcc00; margin-left: 8px; margin-right: 8px; }
.markItUp .markItUpHeader > ul, .markItUp .markItUpHeader > ul li { padding: 0; margin: 0; list-style: none; }
.markItUp .markItUpHeader > ul li { margin: 0; min-width: 32px; height: 32px; position: relative; }
@media (min-width: 600px) { .markItUp .markItUpHeader > ul li { margin: 3px; } }
.markItUp .markItUpHeader > ul a { display: block; text-align: center; line-height: 32px; min-width: 32px; height: 32px; background-repeat: no-repeat; }
@media (min-width: 600px) { .markItUp .markItUpHeader > ul a { font-size: 18px; } }
.markItUp .markItUpHeader > ul a:link, .markItUp .markItUpHeader > ul a:visited { color: #f7e7d2; }
.markItUp .markItUpHeader > ul > li { float: left; }
.markItUp .markItUpHeader > ul > li > ul { display: block; }
.markItUp .markItUpHeader > ul > li > ul { display: none; position: absolute; top: 18px; left: 0px; background: #28282b; }
.markItUp .markItUpHeader > ul > li > ul > li { margin: 0; padding: 0; list-style: none; float: left; position: relative; }
.markItUp .btn-markItUp-Smilies > ul { width: 260px; z-index: 1; margin: -21px 0 0 -2px; }
.markItUp .btn-markItUp-Smilies > ul .markItUpButton { margin: 0px; }
.markItUp .btn-markItUp-Smilies > ul .markItUpButton > a { background-position: 9px 9px; height: 32px; width: 32px; padding: 0px; }

.searchForm-wrapper { margin-bottom: 20px; }

.searchForm { display: table; width: 100%; vertical-align: middle; }
.searchForm > div { display: table-cell; vertical-align: middle; }
.searchForm .search_form > div { overflow: hidden; }
.searchForm #search_fulltext_textfield { height: 38px; }
.searchForm .btn_search_submit { float: right; white-space: nowrap; margin-left: 1em; height: 38px; }

#markitup_upload { -webkit-overflow-scrolling: touch; }

#upload_index form, #upload_index input[type=file] { width: auto; margin: 0; padding: 0; }
#upload_index .content { text-align: center; }
#upload_index h2 { margin-bottom: 2px; font-size: 110%; }
#upload_index .upload_box { border: 1px solid #4d3d00; margin: 12px; width: 170px; height: 180px; position: relative; display: inline-block; padding: 0; }
#upload_index .upload_box_header { height: 130px; width: 160px; position: relative; padding: 5px; display: table-cell; vertical-align: middle; text-align: center; }
#upload_index .upload_box_image { max-width: 140px; max-height: 110px; border: 1px solid #4d3d00; padding: 4px; background: white; }
#upload_index .upload_box_delete { position: absolute; z-index: 10; bottom: 8px; right: 5px; font-size: 16px; }
#upload_index .upload_box_footer { margin: 0; text-align: center; line-height: 25px; height: 30px; padding: 5px !important; }
#upload_index .upload-drag-indicator, #upload_index .upload-layer { top: 0; left: 0; position: absolute; width: 170px; height: 140px; }
#upload_index .upload-layer { z-index: 100; opacity: 0; }
#upload_index .upload-drag-indicator { background: #ffffff; opacity: 0.9; font-size: 70px; line-height: 140px; display: none; }

.thread_inline { position: relative; }

.ui-pnotify h4 { margin: 0; padding: 0; }
.ui-pnotify .ui-pnotify-title { font-weight: bolder; }

.flash > .alert, .message { clear: both; margin: 0px 0px 1em; padding: 1em; color: #333; background-color: #ff2120; border: 1px #d41b1a solid; }

.flash-error > .alert { border: 1px #aa1615 solid; color: black; text-shadow: white 0px 1px; background-color: #ff2120; text-shadow: none; color: white; }

.flash-warning > .alert { border: 1px #aaa13e solid; color: black; text-shadow: white 0px 1px; background-color: #fff25e; }

.flash-notice > .alert { border: 1px #999faa solid; color: #002e80; text-shadow: white 0px 1px; background-color: #e6efff; }

.flash-success > .alert { border: 1px #84aa49 solid; color: #050800; text-shadow: white 0px 1px; background-color: #c6ff6e; }

.error-message, .message { padding: 5px; /* einziehen Zunge Fehlermeldungen */ /*	padding-top: 5px + $corner_radius;*/ /*	margin-top: -1 * $corner_radius;*/ background-color: #ff2120; color: white; }

@media only screen and (max-width: 768px) { body { -webkit-text-size-adjust: 110%; }
  #content { padding-left: 1em; padding-right: 1em; }
  .panel-footer { margin-left: -1em; margin-right: -1em; } }
@media only screen and (orientation: landscape) and (max-width: 568px) { body { width: 568px; } }
@media only screen and (max-width: 568px) { body { -webkit-text-size-adjust: 100%; }
  #slidetabs { float: none; }
  .slidetabs { margin: 0; }
  .slidetab.is-open { float: none; width: 100%; }
  .threadBox { max-width: 100%; overflow-x: scroll; -webkit-overflow-scrolling: touch; }
  .threadBox-body { width: 100%; padding: 0; }
  .threadTree-node { min-width: 10em; } }
@media only screen and (device-width: 768px) { body { -webkit-text-size-adjust: 110%; } }
