/*******************************************************************************
* Setup basic layout parameters
******************************************************************************/
/*******************************************************************************
* Setup bootstrap
******************************************************************************/
/* line 4, ../../src/uploads/index.scss */
html, body {
  min-width: 1px;
}

/* line 8, ../../src/uploads/index.scss */
#upload_index {
  width: 815px;
  height: 90%;
}
/* line 12, ../../src/uploads/index.scss */
#upload_index form, #upload_index input[type=file] {
  width: auto;
  margin: 0;
  padding: 0;
}
/* line 21, ../../src/uploads/index.scss */
#upload_index .content {
  margin: 5px 15px;
}
/* line 25, ../../src/uploads/index.scss */
#upload_index h2 {
  margin-bottom: 2px;
  font-size: 110%;
}

/* line 31, ../../src/uploads/index.scss */
.upload_box {
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin: 12px;
  width: 170px;
  height: 190px;
  background: none;
}

/* line 41, ../../src/uploads/index.scss */
.upload_box_header {
  height: 155px;
  text-align: center;
  vertical-align: middle;
}
/* line 46, ../../src/uploads/index.scss */
.upload_box_header img {
  border: 1px solid #e0e0e0;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
}

/* line 54, ../../src/uploads/index.scss */
.upload_box_delete {
  top: -11px;
  left: -11px;
}

/* line 59, ../../src/uploads/index.scss */
.upload_box_footer {
  height: 35px;
  background: white;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 69, ../../src/uploads/index.scss */
.upload_box_image {
  max-width: 142px;
  max-height: 142px;
}
