// setup
// -------------------------------------

@import "compass/css3/images";
@import "compass/typography/links/link-colors";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";

$yellow-lighter: rgb(255, 255, 240);
$yellow: #ffed9f;
$orange-lighter: #fff5cf;
$orange: #ffa70e;
$orange-darker: #fe5603;
$color-info: #505050;

$padding: 8px;
$padding-content: 16px;
$padding-body: 38px;

// reset
// -------------------------------------

// remove default FF button padding
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.box-shadow, .box-header, .markItUpHeader ul ul, .markItUpHeader,
.markItUpContainer #topnav, .slidetab-tab, .slidetab-outer, .box-shadow-subtle,
.box-content, .disclaimer-inside, .box-form, .entry.add, .entry.reply  {
  box-shadow: none;
}

#top, .navbar, .disclaimer, .top-menu, .btn {
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
}

#top, .l-top-left {
  height: auto;
  padding: 0;
  margin: 0;
}

#topnav, #bottomnav {
  box-shadow: none;
  height: inherit;
}

#top, .l-top-right {
  margin: 0;
  padding: 0 $padding-content;
}

.btn {
  padding: 0;
  margin: 0;
  border: none;
}

.box-shadow-inset, input[type=text], input[type=password], textarea, .markItUpPreviewFrame, .btn_search_header {
  outline-color: $orange;
  box-shadow: none;
  // reset inner shadow from Mobile Safari iOS
  -webkit-appearance: none;
}

// theme
// -------------------------------------

@import "partials/_t-contentbox";
@import "partials/_pill";
@import "partials/_icons";
@import "partials/_jqueryui";
@import "partials/_move-da-chicken";

html {
  overflow-y: scroll;
}

body {
  background: $yellow;
  -webkit-tap-highlight-color: rgba(253, 184, 18, 0.4);
}

/**
 * 1: workaround for no background positioning for <body> in iOS Webkit
 */
body > .body {
  background: $yellow;
  /* 1 */
  background-position: 50% 5px;
  background-image: image-url('bb.svg');
  background-repeat: no-repeat;
}

#content {
  @extend .body-padding;
  padding-bottom: 30px;
}

#topnav, #bottomnav {
  @extend .body-padding;
}

a, a.textlink, .btnLink, li.thread .span_post_type, li.reply .span_post_type {
  @include link-colors($orange-darker);
}

li.threadnew .span_post_type, li.replynew .span_post_type {
  @include link-colors(#333);
}

li.actthread .span_post_type, li.actreply .span_post_type {
  @include link-colors(#DF0000);
}

.btn, .btn:hover, .btn:active, .btn:focus{
  @extend .pill;
  border: none;
  box-shadow: none;
}

.body-padding  {
  padding-left: $padding-body;
  padding-right: $padding-body;
}

.btn-submit, .btn-submit[disabled]  {
  background: $orange-darker;
  color: white;
  &:hover, &:active, &:focus {
    background: $orange-darker;
    box-shadow: none;
  }
}

#top {
  @extend .body-padding;
  padding-left: 0;
  height: 63px;
}

.l-top-right {
  right: $padding-body;
  top: 19px;
  padding: 0;

  form {
    width: 212px;
  }
}

.l-top-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.l-top-menu {
  position: relative;
  font-size: inherit;
}

.top-menu {
  @extend .body-padding;
  line-height: inherit;
}

.top-menu-item-text {
  display: none;
}

%l-top-menu-item {
  // don't show empty border on top in FF
  margin-top: -1px;
  // height should be 22px, add 1 px for margin-top: -1px
  height: 23px;
  @include box-sizing(border-box);

  padding: 2px 8px !important;
}

.top-menu-item {
  text-shadow: none !important;
  @extend .pill;
  @extend .pill-top;
  @extend .pill-invert;
  margin-left: 29px;

  @extend %l-top-menu-item;

  & > i {
    width: 12px;
    font-size: 120%;
  }

  &.btnLink {
    color: $orange;
  }
}

#btn_header_logo {
  display: block;
  height: 63px;
  width: 522px;
}

#macnemo-support {
  text-align: center;
  margin-top: -1px;
  height: 23px;
  @include box-sizing(border-box);
}

#macnemo-support-content {
  display: inline-block;
  @extend %l-top-menu-item;
}

.navbar-content {
  position: relative;
}

.navbar-center {
  font-weight: bold;
}

#btn-category-chooser > i {
  display: none;
}

.navbar-center {
  background: white;
  border: 1px solid $orange;
  height: 1.6em;
  border-radius: $pill-border-radius;
  padding: 0.2em 1em !important;
}

.navbar-left, .navbar-right {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0.3em $padding-content !important;
  font-weight: bold;
}

.navbar-left {
}

.navbar-right {
}

.box-content {
  box-shadow: none;
}

.thread_box {
  margin-bottom: $padding-content;
}

.thread_line-post .fa-thumb-tack {
  display: none;
}

.btn-threadCollapse {
  color: $color-info;
}

.macnemo-thread-pinned {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -9px;

  img {
    height: 11px;
  }
}

.disclaimer {
  position: fixed;
  bottom: 0;
  z-index: -100;
  width: 100%
}

.l-disclaimer {
  padding: $padding $padding-body;
}

.disclaimer-inside {
  border: none;
  box-shadow: none;
  background: #fff5cf;
  margin: $padding-content 0;

  a {
    border-bottom: none;
    color: $orange-darker;
    text-shadow: none;
  }
}

.box-header {
  display: none;
}

.preview {
  border-top: 1px solid #dcdcdc;
}

.l-button_mod_panel-wrapper {
  padding-top: 0;
}

.entry.view .js-buttons i {
  vertical-align: text-bottom;
}

// markItUp
// -------------------------------------

.markItUp a:link, .markItUp a:visited {
  color: #636363;
}

.markItUpSeparator {
  display: none;
}

// Slidetabs
// -------------------------------------

#slidetabs {
  top: 7px;
}

.slidetab {
  margin-top: 2px;
  margin-bottom: $padding-content - 2px;
}

.slidetab-tab, .slidetab-outer {
  text-shadow: none;
}

.slidetab-tab {
  border-color: $orange;
  margin-top: $padding-content - 4px;
  background: $orange;
  color: white;
  border-top-left-radius: $pill-border-radius;
  border-bottom-left-radius: $pill-border-radius;
}

.slidetab-header {
  color: adjust-color($color-info, $lightness: 20%);
  font-size: 110%;

  > h4 {
    margin: -0.5em 0 0.5em 0;
  }
}

.slidetab-outer {
  @extend .box-2;
}

.slidetab-content {
  @extend .box-2-body;
}

.slidetab-userlist-icon {
  padding-left: 0;
}

$slidetabUserlistCounter-size: 14px;
#slidetabUserlist-counter {
  background: #ff5600;
  @include border-radius($slidetabUserlistCounter-size / 2 + 1);
  min-width: $slidetabUserlistCounter-size;
  min-height: $slidetabUserlistCounter-size;
  border: none;
}

.slidetabUserlist-counter-inner {
  line-height: $slidetabUserlistCounter-size;
}

#shoutbox-input {
  width: 206px;
  margin-bottom: 0;
}

#shoutbox-add {
  margin-bottom: 0;
}

.shoutbox-shout-old {
  color: rgb(135, 135, 135);
}

// Posting Form
// -------------------------------------

.postingform .bp-threeColumn {
  // Buttons linksbündig mit Textfeld
  margin-left: -1em;
}

