@media only screen and (max-width: 768px) {

  .top-menu-aside {
    position: relative;
  }

  #content {
    padding-left: $padding;
    padding-right: $padding;
  }

  .panel-footer {
    margin-left: -$padding;
    margin-right: -$padding;
  }

}

@media only screen and (max-width: 600px) {

  #slidetabs {
    float: none;
  }

}

// iPad
// -------------------------------------

@media only screen and (device-width: 768px) {

  body {
    -webkit-text-size-adjust: 110%;
  }

}

