// BBCode
// -------------------------------------

.c-bbcode-citation {
  font-style: italic;
  color: $info-color;
}

.c-bbcode-imessage {
}

.c-bbcode-code-wrapper {
  padding: $padding;

  ol {
    color: #333;
    background: #F0FCEF;

    li {
      padding-left: 0.5em;
    }
  }
}

.code {
  @extend code;
}

.c-bbcode-underline {
  @extend u;
}

.c-bbcode-link-dinfo {
  @extend .infoText;
  font-size: $font-size-small;
}

.c-bbcode-upload, .c-bbcode-external-image {
  margin: $padding;
  text-align: center;
}

.c-bbcode-ul {
  @extend %ul;
}

.c-bbcode-li {
  @extend %li;
}

.c-bbcode-hr {
  margin-left: 0.5em;
  width: 10em;
  display: inline-block;
}

.c-bbcode-float {
  max-width: 50%;
  clear: both;
  float: left;
  margin: $padding;
}

.c-bbcode-spoiler {
  .c-bbcode-spoiler-link {
    color: black;
    background-color: black;
    text-shadow: none;
    word-break: break-word;

    &:hover {
      color: inherit;
      background-color: inherit;
      text-shadow: inherit;
    }
  }
}

.c-bbcode-edit {
  // also an pencil icon is assigned via static.css
  @extend .infoText;
  padding: 0 0.3em;
}
