// BBCode
// -------------------------------------

.c-bbcode-citation {
}

.c-bbcode-imessage {
}

.c-bbcode-code-wrapper {
  padding: $padding;

  ol {
    color: #333;
    background: #F0FCEF;

    li {
      padding-left: 0.5em;
    }
  }
}

.code {
  @extend code;
}

.c-bbcode-underline {
  @extend u;
}

.c-bbcode-link-dinfo {
  @extend .infoText;
  font-size: $font-size-small;
}

.c-bbcode-upload, .c-bbcode-external-image {
  margin: $padding;
}

.c-bbcode-ul {
  padding-left: 0;
  list-style-type: none;
  position: relative;
}

.c-bbcode-li::before {
  content: "\2022";
  display: block;
  position: absolute;
  left: -1em;
}

.c-bbcode-hr {
  margin-left: 0.5em;
  width: 10em;
  display: inline-block;
}

.c-bbcode-float {
  max-width: 50%;
  clear: both;
  float: left;
  margin: $padding;
}

.c-bbcode-spoiler {
  .c-bbcode-spoiler-link {
    color: black;
    background-color: black;
    text-shadow: none;
    word-break: break-word;

    &:hover {
      color: inherit;
      background-color: inherit;
      text-shadow: inherit;
    }
  }
}
