@import "_posting-bbcode";

.postingLayout {
  margin: 0 auto;
  max-width: 54em;

  // changes for inline opening
  .threadInline-slider & {
    // visual border for posting in inline-open
    padding: 0 $padding $padding;

    // hide signatures in inline open by default
    .postingBody-signature {
      display: none;
    }
  }
}

.postingLayout-slider {
  display: none;

  .postingform {
    border-top: 1px solid $border-color;
  }
  .preview {
    border-top: 1px solid $border-color;
    border-bottom: none;
  }
}

.postingBody-heading {
  margin-bottom: 2px;
  margin-top: 0;

  @extend %schmuckfont;
  font-weight: normal;
  font-size: 1.1 * $font-size-large;

  .threadInline-slider & {
    font-size: 1.25em;
  }
}

.postingBody-info {
  @extend .infoText;
  margin-bottom: 1em;

  > .meta {
    font-size: $font-size-small;
  }
}

.postingBody-text {
  margin-bottom: 1em;
  // break overlong words/links if overflow is hidden by .threadInline-slider
  word-wrap: break-word;

  object, embed, video, iframe, img {
    max-width: 100%;
  }

  object, embed, video, iframe, .c-bbcode-external-image, .c-bbcode-upload {
    display: block;
    margin: 0 auto;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.postingBody-signature {
  margin-bottom: $padding;

  .c-bbcode-upload, .c-bbcode-external-image {
    margin: 0;
  }
}

// posting badges
// -------------------------------------

%posting-badge {
  padding: 0px 0.5em;
  font-size: $font-size-small;
  vertical-align: top;
}

.posting-badge-nsfw {
  @extend %posting-badge;
  color: #FFF;
  background-color: #F00;
}
