@import "compass/typography";
@import "compass/css3/box-sizing";

$layout_min_width: 400px !default;
$padding: 1em !default;
$border-radius: 3px !default;

$font-color: #222 !default;
$font-color-read: $font-color !default;
$font-color-current: #F00 !default;

$font-size: 1em !default;
$font-size-small: 0.85em !default;
$font-size-large: 1.35em !default;

$info-color: #727272 !default;
$info-color-bold: lighten($info-color, 40) !default;

$link-color: rgb(213, 6, 6) !default;

$background-color: white !default;

$border-color: #E2E2E2 !default;

$form-background-color: #E7E7E7 !default ;
$input-background-color: #FBFBFB !default;
$input-border-color: #A5A5A5 !default;

$outline-color: $input-border-color !default;

$highlight-hover-color: #F0F0F0 !default;


