#slidetabs {
  float: right;
  position: relative;
  z-index: 5;
  margin-right: - 2 * $padding;
  margin-left: $padding;

  background: $background-color;
}

.slidetab-userlist-icon {
  display: inline-block;
  width: 1.1em;
}