// Common
// -------------------------------------
.threadBox, .threadLeaf {
  &.ignored {
    display: none;
  }
}

// Tread Tree/Collection
// -------------------------------------
.threadTree-node {
  padding-left: 30px;
}

.threadTree-node, .threadCollection-node {
  list-style: none;

  &.root {
    margin: 0;
    padding: 0;
  }

}

.threadCollection-node .threadTree-node {
  padding-left: 0;
}

.btn-threadCollapse {
  width: 28px;
  text-align: center;
  position: absolute;
  left: -4px;
}

// Thread Box/Collection
// -------------------------------------

.threadBox {
  margin: 1em 0;
}

.threadBox-body.panel {
  border: none;
}

.threadBox-tools {
  padding-left: 2 * $padding;
  font-size: $font-size-small;
}

.threadBox .threadTree-node.root {
  padding-left: 20px;
}

.btn-threadBox-tools {
  margin-right: 1em;
}

// thread and reply types
//
// don't forget to apply changes here to the user custom color CSS
// -------------------------------------
.et-root .et, .et-reply .et {
  @include link-colors($link-color);
}
.et-new .et {}

.et-old .et {
  @include link-colors($font-color-read);
}
.et-current .et {
  @include link-colors($font-color-current);
}

// threadLine
// -------------------------------------

$threadLine-pre-padding: 2em;

.threadLine-pre {
  float: left;
  text-align: center;
  width: $threadLine-pre-padding;
  // lines may get pushed to right if to high
  max-height: $line-height;
}

.threadLine-content {
  word-wrap: break-word;
  // wide click target and hover-highlight
  display: block;
  // same left alignment border to threadLine with n > 1 lines
  padding-left: $threadLine-pre-padding;

  &:hover {
    @extend %highlight-hover;
  }

  .c-category {
    color: $font-color;
  }
}

.threadLine-post {
  @extend .infoText;
  font-size: $font-size-small;
  font-weight: normal;
}


// Thread Inline
// -------------------------------------

$btn-strip-top-width: 25px;

.threadInline-slider {
  // prevents wide inline content to drop below slidetabs
  overflow: hidden;

  margin-left: $btn-strip-top-width;
}


// page specific
// -------------------------------------

.entry.view {
  .threadBox {
    border-top: 1px solid $border-color;
  }
}

.mixEntry {
  border-bottom: 1px solid $border-color;
  margin-bottom: $padding;
}
