{% include 'elements/layout/head.twig' %}

{% include 'elements/github.tpl' %}
<div id="footerHelper staticPage">
    <div class="container">
        {% include 'elements/hero.tpl' %}
        <nav>
            <div id="boxes-row" class="row">
                <div class="col-sm-3">
                    <div class="boxes-info">
                        {% include 'elements/download.twig' %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="boxes-info">
                        {% include 'elements/status.twig' %}
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="boxes-info">
                        <h4>Support Saito</h4>
                        <ul>
                            <li>
                                <a href="donate">
                                    <i class="icon icon-heart"></i>
                                    Support & Donate
                                </a>
                            </li>
                            <li>
                                (or <a href="funding">fund a specific feature</a>)
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="boxes-info">
                        {% include 'elements/contact.tpl' %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="col-sm-offset-3 col-sm-6">
                {{content}}
            </div>
        </div>
    </div>
    <div id="footerPush"></div>
</div>
<footer>
    {% include 'elements/footer.tpl' %}
</footer>
{% include 'elements/layout/foot.twig' %}
