{% include 'elements/layout/head.twig' %}

{% include 'elements/github.tpl' %}
<div id="footerHelper" class="staticPage">
    <div class="container">
        {% include 'elements/hero.tpl' %}
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">

                {% if meta.role == "blogHomepage" %} <!-- Front page lists all blog posts -->
                    <h1>Latest News</h1>

                    <div id="posts">
                        {% for page in pages|reverse %}
                        {% if page.meta.date %} <!-- Note we check for Date field (posts) here -->
                        <div class="post">
                            <h2 style="display: inline">
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </h2>
                            <span class="meta">
                                <p>
                                    <i class="icon-calendar"></i> {{ page.meta.date }}
                                    &nbsp;
                                    <i class="icon-user"></i> {{ page.meta.author }}
                                </p>
                            </span>
                            <p class="excerpt">{{ page.excerpt }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                {% else %} <!-- Single page shows individual blog post -->

                    {% for page in pages %}
                        {% if current_page.title == page.title %}
                            {% if page.previousPage is defined and page.previousPage.folder == "whats-new" and page.previousPage.meta.date %}
                                {% set divider = 1 %}
                                <a href="{{ page.previousPage.url }}" style="position: absolute;">
                                    << Previous
                                </a>
                            {% endif %}

                            {% if page.nextPage is defined and page.nextPage.folder == "whats-new" and page.nextPage.meta.date %}
                                {% if divider %}
                                {% endif %}
                                <a href="{{ page.nextPage.url }}" style="position: absolute; right: 0;">
                                    Next >>
                                </a>
                            {% endif %}

                        <div style="text-align: center;">
                            <a href="{{ base_url }}/whats-new/">Latest News</a>
                        </div>

                        {% endif %}
                    {% endfor %}

                    <hr>

                    <article class="post">
                        {% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
                        <p class="meta">
                            <i class="icon-calendar"></i> {{ meta.date }}
                            &nbsp;
                            <i class="icon-user"></i> {{ meta.author }}
                        </p>
                        {{ content }}
                    </article>

                {% endif %}

            </div>
        </div>
    </div>
    <div id="footerPush"></div>
</div>
<footer>
    {% include 'elements/footer.tpl' %}
</footer>

{% include 'elements/layout/foot.twig' %}




